<style>
    .column {
     float: left;
     width: 100%;
     padding: 20px;
   }
   
   /* Clear floats after the columns */
   .row:after {
     content: "";
     display: table;
     clear: both;
   }
   </style>
  
  <div style="box-shadow: 0px 8px 10px gray, 
  -10px 8px 15px gray, 10px 8px 15px gray;">
  <div class="modal-header" style="width: 100% ">
    <h4 style="font-family: 'Mulish'; color: #566a7f"><strong>New Children Assigned</strong></h4>
    <!-- <i class='fa fa-times' style='font-size:24px; color:rgb(70, 68, 68);' aria-label="Close"
      (click)="modalRef.close()"></i> -->
      
    </div>
    <div class="modal-body" style="font-family:'Times New Roman', Times, serif">
      <div class="row">
        <!-- <a href="asha-followups" style="background-color: #008eBe; float: right; margin-right: 20px; 
        margin-left: 20px; width: 25%"> -->
          <button type="submit" class="btn rounded-pill btn-primary" 
          style="background-color: #008eBe; float: right; margin-right: 20px; 
          margin-left: 20px; width: 25%">
          <a href="asha-followups">View</a>
          </button>
        <!-- </a> -->
          <button type="submit" class="btn rounded-pill btn-primary" (click)="modalRef.close()"
          style="border-color: #008eBe; color: #008eBe; background-color: white; float: right; margin-right: 0px; width: 25%">Close</button>

        <!-- <form>
          <div class="column">
               <div class="mb-3">
                   <label class="form-label" for="basic-default-age">Reason for Rejection*</label>
                   <input type="text" class="form-control" id="basic-default-company" />
               </div>

              <div class="mb-3">
                  <label class="form-label" for="basic-default-age">Please suggest nearest PHC</label>
                  <input type="text" class="form-control" id="basic-default-company" />
              </div>
          </div>
          <button type="submit" class="btn rounded-pill btn-primary" 
          style="background-color: #008eBe; float: right; margin-right: 0px; width: 25%">Save</button>
      </form> -->
      </div>
    </div>
  </div>
