<!-- <h4 style="margin-top:1%; padding-bottom: 1%;"></h4> -->
<style>
    tr:hover td {
      background:#000
    }
  
    tr:hover {
      background-color: #eee;
  }
  
  </style>
  
  <div class="content-wrapper" style="margin-left: 190px; margin-top: -30px; width: 85vw; height: 100vh; border-radius: 0; background-color: rgb(62, 74, 116);">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y" style="margin-top: 40px;">
        <h3 style="font-family: Arial, Helvetica, sans-serif; color: white; font-size: 24px; margin-bottom: 10px; margin-top: 10px;">ASHA Assignment</h3>
        <br>
      <div class="card" style="box-shadow: 0 0 2px grey; border-radius: 0; color: black; margin-top: 10px;">
        <!-- <h3 class="card-header" style="background-color: #c4ddf8; margin-bottom: 20px; font-family: Serif;">Discharged Patients</h3>
        <app-search></app-search> -->
            
        <div class="card-header" style="background-color: #d9edf7; font-family: Arial, Helvetica, sans-serif;">

          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse" 
          style="margin-left: 2%; float: right; margin-top: -18px; margin-bottom: -22px; width: 100%
          font-size: 13px; font-family: 'Times New Roman', Times, serif;">
              
              <div class="navbar-nav align-items-center">
              <div class="nav-item d-flex align-items-center">
                  
                  <input
                  type="text"
                  class="form-control border-0 shadow-none"
                  placeholder="Search"
                  aria-label="Search..."
                  />
                  <!-- <i class="fa fa-search"></i> -->
              </div>
              </div>
          </div>
          </div>
  
<div class="table-responsive text-nowrap" style="font-size: 14px; font-family:Arial, Helvetica, sans-serif; width: 100%">
  <table class="table">
    <thead style="color: black;">
      <tr>
        <th style="color: black;">RCH ID/SAM ID</th>
        <th style="color: black;">Patient Name</th>
        <th style="color: black;">Address</th>
        <th style="color: black;">Pincode</th>
        <th style="color: black;">Contact No</th>
        <th style="color: black;">Discharge Date</th>
        <th style="color: black;">Name of NRC</th>
        <th style="color: black;">ASHA Worker</th>
      </tr>
    </thead>
            <tbody class="table-border-bottom-0">
              <tr *ngFor="let p of patients;index as i;" style="color: black;">
                <td> <a href="patient/{{p.dischargeId}}"><strong>{{p.rchId}}/{{ p.samId }}</strong></a></td>
                <td><a href="patient/{{p.dischargeId}}">{{ p.name }}</a></td>
                <td><a href="patient/{{p.dischargeId}}">{{children[i]?.address}}</a></td>
                <td>{{children[i]?.pincode}}</td>
                <td>{{children[i]?.mobileNumber}}</td>
                <td><a href="patient/{{p.dischargeId}}">{{ p.dischargeDate | date : "dd-MM-y" }}</a></td>
                <td><a href="patient/{{p.dischargeId}}">VVH</a></td>
                <!-- <td><span class="badge" style="background-color: #d9ecf3;">
                  <a style="color:#008ebe;" href="/discharge-summary/1">Summary</a></span>
                </td>            -->
                <td><button type="button" class="btn rounded-pill btn-primary" 
                  style="color: white; background-color:#008ebe; width: 80%; border-color: white"
                  (click)="openModal(p.caseId)">
                  Assign
                </button></td>           
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div class="content-backdrop fade"></div>
  