<!-- <h4 style="margin-top:1%; padding-bottom: 1%;"></h4> -->
<style>
  tr:hover td {
    background:#000
  }

  tr:hover {
    background-color: #eee;
}

</style>
<div class="content-wrapper" style="margin-left: 200px;  width: 85%">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h3 style="font-family: 'Mulish'"><strong>Track Patients</strong></h3>
    <div class="card" style="box-shadow: 0 0 5px grey; background-color: white;">
      <div class="card-header" style="background-color: #d9ecf3; font-family: Serif;">
      <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse" 
      style="margin-left: 2%; float: right; margin-top: -10px; margin-bottom: -10px; width: 50%
      font-size: 13px; font-family: 'Times New Roman', Times, serif;">
          
          <div class="navbar-nav align-items-center">
          <div class="nav-item d-flex align-items-center" style="box-shadow: 0px 15px 10px -15px #111">
              
              <input
              type="text"
              class="form-control border-0 shadow-none"
              placeholder="Search"
              aria-label="Search..."
              />
              <!-- <i class="fa fa-search"></i> -->
          </div>
          </div>
      </div>
      </div>

    <div class="table-responsive text-nowrap" style="font-size: 15px; font-family:'Serif'">
      <table class="table">
        <thead>
          <tr>
            <th>RCH ID</th>
            <th>Patient Name</th>
            <th>Discharge Date</th>
            <th>Contact No</th>
            <th>Name of NRC</th>
            <th>Asha Worker</th>
            <th>Followups Done</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr>
            <td> <a href="track-child/1240"><strong>1240</strong></a></td>
            <td><a href="track-child/1240">Aanchal</a></td>
            <td><a href="track-child/1240">12-02-2022</a></td>
            <td><a href="patient-details.html">9878267381</a></td>
            <td><a href="track-child/1240">VVH</a></td>
            <td><a href="track-child/1240">Malini</a></td>                     
            <td><a href="track-child/1240">7</a></td>                     
            <td><i class="fa fa-ellipsis-v"></i></td>                     
            <td></td>           
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="content-backdrop fade"></div>
