<style>
  tr:hover td {
    background:#000
  }

  tr:hover {
    background-color: #eee;
}

</style>
<div class="content-wrapper" style="margin-left: 190px; margin-top: -30px; width: 85vw; height: 100vh; border-radius: 0; background-color: rgb(62, 74, 116);">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
      <h3 style="font-family: Arial, Helvetica, sans-serif; color: white; font-size: 24px; margin-bottom: 10px; margin-top: 10px;">Track Child</h3>
      <br>
    <div class="card" style="box-shadow: 0 0 2px grey; border-radius: 0; color: black; margin-top: 10px;">    
      <div class="card-header" style="background-color: #d9edf7; font-family: Arial, Helvetica, sans-serif;">
      <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse" 
      style="margin-left: 2%; float: right; margin-top: -18px; margin-bottom: -22px; 
      font-size: 13px; font-family: 'Times New Roman', Times, serif;">
      
          <div class="navbar-nav align-items-center">
          <div class="nav-item d-flex align-items-center">
              
              <input
              style="background-color: white;"
              type="text"
              class="form-control border-0 shadow-none"
              placeholder="Search"
              aria-label="Search..."
              />
          </div>
          </div>
      </div>
      </div>

    <div class="table-responsive text-nowrap" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; background-color: white;">
      <table class="table">
        <thead>
          <tr> 
            <th style="color: black;">RCH ID</th>
            <th style="color: black;">Patient Name</th>
            <th style="color: black;">Discharge Date</th>
            <th style="color: black;">Contact No</th>
            <th style="color: black;">Name of NRC</th>
            <th style="color: black;">ASHA Worker</th>
            <th style="color: black;">Status</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr *ngFor="let p of patients;" style="color: black;">
            <td> <a href="track-child/{{p.caseId}}"><strong>{{p.samNum}}</strong></a></td>
            <td><a href="track-child/{{p.caseId}}">{{p.name}}</a></td>
            <td><a href="track-child/{{p.caseId}}">{{p.dischargeDate | date : "dd-MM-y"}}</a></td>
            <td><a href="track-child/{{p.caseId}}">{{p.mobileNumber}}</a></td>
            <td><a href="track-child/{{p.caseId}}">VVH</a></td>
            <td><a href="track-child/{{p.caseId}}">Malini</a></td>
            <td><a href="track-child/1240"><span class="badge" style="color: white; background-color: #00a141;">Undergoing Followups</span></a></td>                     
<!--            <td><a href="track-child/1240">7</a></td>                     -->
            <!-- <td><i class="fa fa-ellipsis-v"></i></td>                      -->
            <td></td>           
          </tr>

<!--          <tr>-->
<!--            <td> <a href="track-child/1240"><strong>1241</strong></a></td>-->
<!--            <td><a href="track-child/1240">Gayathri</a></td>-->
<!--            <td><a href="track-child/1240">13-02-2022</a></td>-->
<!--            <td><a href="track-child/1240">8678672654</a></td>-->
<!--            <td><a href="track-child/1240">IGH</a></td>-->
<!--            <td><a href="track-child/1240">Sheela</a></td>                     -->
<!--            <td><a href="track-child/1240">2</a></td>                     -->
<!--            <td><i class="fa fa-ellipsis-v"></i></td>                     -->
<!--            <td></td>           -->
<!--          </tr>-->
          
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="content-backdrop fade"></div>