<style>
  tr:hover td {
    background:#000
  }

  tr:hover {
    background-color: #eee;
}

</style>
<div class="content-wrapper" style="margin-top: 0px; width: 100vw; overflow: auto; height: 100vh; border-radius: 0; background-color: rgb(62, 74, 116);">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y" style="margin-top: 40px;">
      <h3 style="font-family: Arial, Helvetica, sans-serif; color: white; font-size: 24px; 
      margin-bottom: 10px; margin-top: 10px;">Follow Up Details: {{patient?.name}} (RCH ID/SAM ID-{{patient?.rchId}}/{{patient?.samNum}})</h3>
      <br>
    <div class="card" style="box-shadow: 0 0 2px grey; border-radius: 0; color: black; margin-top: 10px; width: 98%">    
      <div class="card-header" style="background-color: #d9edf7; font-family: Arial, Helvetica, sans-serif;">
      <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse" 
      style="margin-left: 2%; float: right; margin-top: -18px; margin-bottom: -22px; 
      font-size: 13px; font-family: Arial, Helvetica, sans-serif;">
            
            <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
                
                <input
                type="text"
                class="form-control border-0 shadow-none"
                placeholder="Search"
                aria-label="Search..." [(ngModel)]="searchText"
                />
                <!-- <i class="fa fa-search"></i> -->
            </div>
            </div>
      </div>
      </div>
  
          <div class="table-responsive text-nowrap" style="font-family: Arial, Helvetica, sans-serif; width: 100%">
            <table class="table">
              <thead>
                <tr>
                    <th style="color: black;">Followups</th>         
                    <th style="color: black;">Height</th>         
                    <th style="color: black;">Weight</th>         
                    <th style="color: black;">MUAC</th>         
                    <th style="color: black;">Head Circumference</th>
                    <th style="color: black;">SD</th>         
                    <th style="color: black;">Outcome</th>         
                </tr>
              </thead>
              <!-- IN <tr>, YOU NEED TO ADD | search: searchText -->
              <tbody class="table-border-bottom-0" style="color: black;">
                <tr class="table-default"  *ngFor="let p of followups | search: searchText">
                    <div *ngIf ="p.followupId; then thenBlock else elseBlock"></div>
                      <ng-template #thenBlock>
                        <td (click)="openModal(p.followupId, p.followupDate)">{{p.followupDate | date : "dd-MM-y"}}</td>
                        <td (click)="openModal(p.followupId, p.followupDate)">{{p.height}}</td>
                        <td (click)="openModal(p.followupId, p.followupDate)">{{p.weight}}</td>
                        <td (click)="openModal(p.followupId, p.followupDate)">{{p.muac}}</td>
                        <td (click)="openModal(p.followupId, p.followupDate)">{{p.headCircumference}}</td>
                        <td (click)="openModal(p.followupId, p.followupDate)">{{p.sdRange}}</td>
                        <td (click)="openModal(p.followupId, p.followupDate)">
                            <div *ngIf="p.sdRange==-4"> <span class="badge bg-label-danger" style="color: #ef0000 !important; background-color: #ffe0db !important; font-size: 90%;"><strong>SAM</strong></span> </div>
                            <div *ngIf="p.sdRange==-3"> <span class="badge bg-label-danger" style="color: #ef0000 !important; background-color: #ffe0db !important; font-size: 90%;"><strong>SAM</strong></span> </div>
                            <div *ngIf="p.sdRange==-2"> <span class="badge bg-label-warning" style="color: #dc9404;   font-weight: bold; font-size: 90%"><strong>MAM</strong></span> </div>
                            <div *ngIf="p.sdRange==-1"> <span class="badge bg-label-warning" style="color: #ffe0db;   font-weight: bold; font-size: 90%"><strong>MAM</strong></span> </div>
                            <div *ngIf="p.sdRange==0"> <span class="badge bg-label-success" style="color: #ffe0db;   font-weight: bold; font-size: 90%"><strong>Normal</strong></span> </div>
                        </td>
                      </ng-template>

                    <ng-template #elseBlock>
                    <td>
                        <a href="asha-add-followup/{{p.scheduleId}}">
                            {{p.followupDate | date : "dd-MM-y"}}
                        </a>
                    </td>
                    <td><a href="asha-add-followup/{{p.scheduleId}}">
                      <button type="button" class="btn btn-primary"
                              style="color: white; background-color: #008ebe;
                        width: 50%; border-color: #008ebe;
                        font-family: Arial, Helvetica, sans-serif;">
      
                        <i class='fa fa-plus' style='font-size:15px;'></i>
                      </button></a>
                    </td>

<!--                </tr>-->
                    </ng-template>
              </tr>
                
<!--                <tr class="table-default" (click)="openModal()">-->
<!--                  <td>              -->
<!--                  07-08-2022-->
<!--                  </td>-->
<!--                  <td>60</td>-->
<!--                  <td>30</td>-->
<!--                  <td>114</td>-->
<!--                  <td>4</td>-->
<!--                  <td>-1</td>-->
<!--                  <td><span class="badge bg-label-warning"><strong>MAM</strong></span></td>-->
<!--                </tr>-->
<!--  -->
<!--                <tr class="table-default" (click)="openModal()">-->
<!--                  <td>-->
<!--                  14-08-2022                  -->
<!--                  </td>-->
<!--                  <td>60</td>-->
<!--                  <td>30</td>-->
<!--                  <td>114</td>-->
<!--                  <td>4</td>-->
<!--                  <td>-1</td>-->
<!--                  <td><span class="badge bg-label-warning"><strong>MAM</strong></span></td>-->
<!--                </tr>-->
                
<!--                <tr class="table-default">-->
<!--                  <td>-->
<!--                    <a href="asha-add-followup">                    -->
<!--                      21-08-2022-->
<!--                    </a>              -->
<!--                  </td>-->

<!--                </tr>-->
  
                
                <tr class="table-default">
                  <td></td>
                  <td></td>
                </tr>
                
                
                
              </tbody>
              
            </table>
            
          </div>
        </div>
        <!--/ Contextual Classes -->
      
       
        <!--/ Responsive Table -->
      </div>
      <!-- / Content -->
  
      
  
      <div class="content-backdrop fade"></div>
    </div> 