<div class="content-wrapper" style="margin-left: 200px;  width: 100%">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h3 style="font-family: 'Mulish'"><strong>Follow Up Details of Patient</strong></h3>
    <div class="card" style="box-shadow: 0 0 5px grey;">
      <div class="card-header" style="background-color: #d9ecf3; font-family: Serif;">
      <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse" 
      style="margin-left: 2%; float: right; margin-top: -10px; margin-bottom: -10px; width: 50%
      font-size: 13px; font-family: 'Times New Roman', Times, serif;">
          
          <div class="navbar-nav align-items-center">
          <div class="nav-item d-flex align-items-center" style="box-shadow: 0px 15px 10px -15px #111">
              
              <input
              type="text"
              class="form-control border-0 shadow-none"
              placeholder="Search"
              aria-label="Search..."
              />
              <!-- <i class="fa fa-search"></i> -->
          </div>
          </div>
      </div>
      </div>
  
          <div class="table-responsive text-nowrap" style="font-family: Serif; width: 100%">
            <table class="table">
              <thead>
                <tr>
                    <th>Followups</th>         
                    <th>Height</th>         
                    <th>Weight</th>         
                    <th>MUAC</th>         
                    <th>Head Circumference</th>
                    <th>SD</th>         
                    <th>Outcome</th>         
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                <tr class="table-default">
                  <td (click)="openModal()" style="color: #00a141">                 
                  01-08-2022
                  </td>
                  <td>60</td>
                  <td>30</td>
                  <td>114</td>
                  <td>4</td>
                  <td>-1</td>
                  <td>MAM</td>
              </tr>
                
                <tr class="table-default">
                  <td (click)="openModal()" style="color: #00a141">              
                  07-08-2022
                  </td>
                  <td>60</td>
                  <td>30</td>
                  <td>114</td>
                  <td>4</td>
                  <td>-1</td>
                  <td>MAM</td>
                </tr>
  
                <tr class="table-default">
                  <td (click)="openModal()" style="color: #00a141">
                  14-08-2022                  
                  </td>
                  <td>60</td>
                  <td>30</td>
                  <td>114</td>
                  <td>4</td>
                  <td>-1</td>
                  <td>MAM</td>
              </tr>
                
                <tr class="table-default">
                  <td>
                    <a href="add-followup">
                    
                  21-08-2022
                    </a>              
                  </td>

                </tr>
  
                
                <tr class="table-default">
                  <td></td>
                  <td></td>
                </tr>
                
                
                
              </tbody>
              
            </table>
            
          </div>
        </div>
        <!--/ Contextual Classes -->
      
       
        <!--/ Responsive Table -->
      </div>
      <!-- / Content -->
  
      
  
      <div class="content-backdrop fade"></div>
    </div> 