<style>
    tr:hover td {
      background:#000
    }
  
    tr:hover {
      background-color: #eee;
  }
  
  </style>
  <div class="content-wrapper" style=" margin-top: 0px; width: 100vw; height: 100vh; overflow: auto; border-radius: 0; background-color: rgb(62, 74, 116);">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y" style="margin-top: 40px;">
        <h3 style="font-family: Arial, Helvetica, sans-serif; color: white; font-size: 24px; 
        margin-bottom: 10px; margin-top: 10px;">Follow-ups of Patients Assigned to You</h3>
        <br>
      <div class="card" style="box-shadow: 0 0 2px grey; border-radius: 0; color: black; margin-top: 10px; width: 98%;">    
        <div class="card-header" style="background-color: #d9edf7; font-family: Arial, Helvetica, sans-serif;">
        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse" 
        style="margin-left: 2%; float: right; margin-top: -18px; margin-bottom: -22px; 
        font-size: 13px; font-family: 'Times New Roman', Times, serif;">
              
              <div class="navbar-nav align-items-center">
              <div class="nav-item d-flex align-items-center">
                  
                  <input
                  type="text"
                  class="form-control border-0 shadow-none"
                  placeholder="Search"
                  aria-label="Search..." [(ngModel)]="searchText"
                  />
                  <!-- <i class="fa fa-search"></i> -->
              </div>
              </div>
          </div>
          </div>
          <div class="table-responsive text-nowrap" style="font-family: Arial, Helvetica, sans-serif; color: black; width: 100%;">
            <table class="table">
              <thead>
                <tr>
                  <th style="color: black;">RCH ID/SAM ID</th>
                  <th style="color: black;">Patient Name</th>
                  <th style="color: black;">Contact No</th>
                  <th style="color: black;">NRC Name</th>
                  <th style="color: black;">Followups Completed</th>
                  <th style="color: black;">Next Followup</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0" >
                <tr class="table-default" *ngFor="let p of followups | search: searchText">
                  <td> <strong>{{p.rchId}}/{{p.samNum}}</strong> </td>
                  <td><a href="asha-patient-followup/{{p.caseId}}">{{p.childName}}</a></td>
                  <td><a href="asha-patient-followup/{{p.caseId}}">{{p.mobileNumber}}</a></td>
                  <td><a href="asha-patient-followup/{{p.caseId}}">VVH</a></td>
                  <td><a href="asha-patient-followup/{{p.caseId}}">{{p.followupsDone}}</a></td>
                  <td><a href="asha-patient-followup/{{p.caseId}}">{{p.nextCommunity | date : "dd-MM-y"}}</a></td>
                </tr>
  
<!--                <tr class="table-default">-->
<!--                  <td> <strong>KR2038</strong> </td>-->
<!--                  <td><a href="asha-patient-followup/1">Madhumitha</a></td>-->
<!--                  <td><a href="asha-patient-followup/1">9845154210</a></td>-->
<!--                  <td><a href="asha-patient-followup/1">IGH</a></td>-->
<!--                  <td><a href="asha-patient-followup/1">4 / 9</a></td>-->
<!--                  <td><a href="asha-patient-followup/1">28-10-2022</a></td>-->
<!--                </tr>-->
<!--  -->
<!--                <tr class="table-default">-->
<!--                  <td> <strong>KR2038</strong> </td>-->
<!--                  <td><a href="asha-patient-followup/1">Raman</a></td>-->
<!--                  <td><a href="asha-patient-followup/1">9845154210</a></td>-->
<!--                  <td><a href="asha-patient-followup/1">IGH</a></td>-->
<!--                  <td><a href="asha-patient-followup/1">5 / 7</a></td>-->
<!--                  <td><a href="asha-patient-followup/1">25-10-2022</a></td>-->
<!--                </tr>-->
<!--  -->
<!--                <tr class="table-default">-->
<!--                  <td> <strong>KR2038</strong> </td>-->
<!--                  <td><a href="asha-patient-followup/1">Ranjani</a></td>-->
<!--                  <td><a href="asha-patient-followup/1">9845154210</a></td>-->
<!--                  <td><a href="asha-patient-followup/1">VVH</a></td>-->
<!--                  <td><a href="asha-patient-followup/1">6 / 11</a></td>-->
<!--                  <td><a href="asha-patient-followup/1">15-10-2022</a></td>-->
<!--                </tr>-->
                

                <!-- HERE WHEN YOU WRITE <tr *ngFor...>, add this:
                  let a for ashaWorker | search: searchText  
                -->
              </tbody>
            </table>
          </div>
        </div>
        <!--/ Contextual Classes -->
      
       
        <!--/ Responsive Table -->
      </div>
      <!-- / Content -->
  
      
  
      <div class="content-backdrop fade"></div>
    </div>