<div class="content-wrapper" style="margin-left: 280px">
  
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="card" style="box-shadow: 0 0 5px grey;">
        <h3 class="card-header" style="background-color: #c4ddf8; margin-bottom: 20px; font-family: Serif;">Follow Up Details</h3>
        <app-search></app-search>
        <div class="table-responsive text-nowrap" style="font-family: Serif; color: black">
          <table class="table">
            <thead>
              <tr>
                <th>RCH ID</th>
                <th>Patient Name</th>
                <th>Asha Worker</th>
                <th>No of Pending Followups</th>
                <th>Next Followup Date</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0" >
              <!-- <tr class="table-default" *ngFor="let f of followups">
                <td> {{ f.samId }} </td>
                <td>Name</td>
                <td><a href="asha-worker"><div class="avatar avatar">
                  <img src="../../assets/avatars/1.png"  alt class="w-px-34 h-auto rounded-circle" />
                </div></a></td>
                <td>8</td>
                <td>{{ f.date }}</td>
              </tr> -->

              <tr class="table-default">
                <td> <strong>KR2038</strong> </td>
                <td><a href="followup/1">Kalyani</a></td>
                <td><a href="asha-worker/1"><div class="avatar avatar">
                  <img src="../../assets/1.png"  alt class="w-px-34 h-auto rounded-circle" />
                </div></a></td>
                <td><a href="followup/1">3</a></td>
                <td><a href="followup/1">15-09-2022</a></td>
              </tr>

              <tr class="table-default">
                <td> <strong>KR2038</strong> </td>
                <td>Madhumitha</td>
                <td><a href="asha-worker/1"><div class="avatar avatar">
                  <img src="../../assets/7.png"  alt class="w-px-34 h-auto rounded-circle" />
                </div></a></td>
                <td>1</td>
                <td><span class="badge bg-label-danger">Overdue</span>
                </td>
              </tr>

              <tr class="table-default">
                <td> <strong>KR2038</strong> </td>
                <td>Raman</td>
                <td><a href="asha-worker/1"><div class="avatar avatar">
                  <img src="../../assets/6.png"  alt class="w-px-34 h-auto rounded-circle" />
                </div></a></td>
                <td>2</td>
                <td>15-09-2022</td>
              </tr>

              <tr class="table-default">
                <td> <strong>KR2038</strong> </td>
                <td>Ranjani</td>
                <td><a href="asha-worker/1"><div class="avatar avatar">
                  <img src="../../assets/5.png"  alt class="w-px-34 h-auto rounded-circle" />
                </div></a></td>
                <td>1</td>
                <td><span class="badge bg-label-danger">Overdue</span></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
      <!--/ Contextual Classes -->
    
     
      <!--/ Responsive Table -->
    </div>
    <!-- / Content -->

    

    <div class="content-backdrop fade"></div>
  </div>