<style>
  .column {
  float: left;
  width: 33%;
  padding: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<div class="content-wrapper" style="margin-left: 190px; margin-top: -30px; width: 85vw; height: 100vh; border-radius: 0; background-color: rgb(62, 74, 116);">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
      <h3 style="font-family: Arial, Helvetica, sans-serif; color: white; font-size: 24px; margin-bottom: 10px; margin-top: 10px;">Record New Visit</h3>
      <br>
    <div class="card" style="box-shadow: 0 0 2px grey; border-radius: 0; color: black; margin-top: 10px;">    
     
<!-- <div class="content-wrapper" style="margin-left: 300px; color: black">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card" style="box-shadow: 0 0 5px grey;">
      <h3 class="card-header" style="background-color: #c4ddf8; margin-bottom: 20px; font-family: Serif;">Record Follow Up</h3> -->
     
<!-- <div class="layout-page" style="margin-left: 50%; width: 100%; box-shadow: 0 0 10px grey; font-family: Serif;">
    <div class="content-wrapper">
      <div class="container-xl flex-grow-1 container-p-y" style="background-color: #c4ddf8">
          <h4 class="fw-bold py-3">Enter Follow Up Details</h4>
      </div> -->

      <div class="row" style="color: black; font-size: 12.5px;">
          <form style="color: black; font-size: 12.5px;" (ngSubmit)="onSubmit()" #userForm="ngForm">
              <div class="column">
                <div class="mb-4">
                  <label class="form-label" for="basic-default-company" style="color: black; font-size: 12.5px;">Chief Complaints</label>
                  <input type="text" [(ngModel)] = "followup.chiefComplaints" class="form-control" id="chiefComplaints" name="chiefComplaints"><i aria-flowto=""></i>
              </div>

                  <div class="mb-4">
                    <label class="form-label" for="basic-default-fullname" style="color: black; font-size: 12.5px;" >Height (in cm)</label>
                    <input type="text" [(ngModel)] = "followup.height" class="form-control" id="height" name="height" />
                  </div>
                  <div class="mb-4">
                    <label class="form-label" for="basic-default-company" style="color: black; font-size: 12.5px;">Weight (in kgs)</label>
                    <input type="text" [(ngModel)] = "followup.weight" class="form-control" id="weight" name="weight"  />
                  </div>

                  <div class="mb-4">
                    <label class="form-label" for="basic-default-muac" style="color: black; font-size: 12.5px;">SD Range</label>
                    <input type="text" [(ngModel)] = "followup.sdRange" class="form-control" id="sdRange" name="sdRange"/>
                  </div>

                  

                  
                </div>

                <div class="column">
                  <div class="mb-4">
                    <label class="form-label" for="basic-default-muac" style="color: black; font-size: 12.5px;">MUAC (in cm)</label>
                    <input type="text" [(ngModel)] = "followup.muac" class="form-control" id="muac" name="muac"/>
                  </div>

                  <div class="mb-4">
                    <label class="form-label" for="basic-default-muac" style="color: black; font-size: 12.5px;">Head Circumference (in cm)</label>
                    <input type="text" [(ngModel)] = "followup.headCircumference" class="form-control" id="headCircumference" name="headCircumference"/>
                  </div>

                  

                  <div class="mb-4">
                    <label class="form-label" for="basic-default-muac" style="color: black; font-size: 14px;">Diet Chart</label>
                    <input type="file" class="file-upload" style="font-family:'Times New Roman', Times, serif; color: #222; font-size: 14px"
                    onchange="console.log(event.target.files)">
                      <!-- <app-file-upload></app-file-upload> -->
                  </div>

                  <div class="mb-4">
                    <label class="form-label" for="basic-default-muac" style="color: black; font-size: 12.5px;">Diet Adequacy</label>
                    <select [(ngModel)] = "followup.dietAdequacy" name="dietAdequacy" id="dietAdequacy" class="form-select">
                      <option></option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                  </select>                     
                  </div>            
                </div>

                <div class="column">
                  

                  <div class="mb-4">
                    <label class="form-label" for="basic-default-fullname" style="color: black; font-size: 12.5px;">Co-morbidities</label>
                    <select [(ngModel)] = "followup.coMorbidities" name="coMorbidities" id="coMorbidities" class="form-select">
                      <option></option>
                      <option value="1">Pneumonia</option>
                      <option value="2">CHD</option>
                      <option value="3">Tuberculosis</option>
                  </select>                       
                  </div>
                  
                  <div class="mb-4">
                    <label class="form-label" for="basic-default-muac" style="color: black; font-size: 12.5px;">Other Symptoms</label>
                    <input type="text" [(ngModel)] = "followup.otherSymptoms" class="form-control" id="otherSymptoms" name="otherSymptoms"/>
                  </div>

                  <div class="mb-4">
                    <label class="form-label" for="basic-default-muac" style="color: black; font-size: 12.5px;">Provisional Diagnosis</label>
                    <input type="text" [(ngModel)] = "followup.provisionalDiagnosis" class="form-control" id="provisionalDiagnosis" name="provisionalDiagnosis"/>
                  </div>

                  <div class="mb-4">
                    <label class="form-label" for="basic-default-muac" style="color: black; font-size: 12.5px;">Treatment</label>
                    <input type="text" [(ngModel)] = "followup.treatment" class="form-control" id="treatment" name="treatment"/>
                  </div>

                  
                <!-- </div> -->
                <button type="button" class="btn rounded-pill btn-primary" 
                style="color: white; background-color:#008ebe; float:right; width: 70%; border-color: white"
                > Save </button>
                  <!-- <button type="submit" class="btn btn-primary" style="margin-bottom: 7%; margin-right: 40px; float: right; background-color: #66adf9;">Save</button> -->         
                </div>
            </form>
            <!-- </div> -->
        </div>
        <!-- </div> -->

        <!-- </div> -->



        <div class="content-backdrop fade"></div>
    </div>
</div>

<!-- Content wrapper -->
