<style>
  .column {
  float: left;
  width: 30%;
  padding: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<div class="content-wrapper" style="margin-left: 0vw; margin-top: 0px; overflow: auto; width: 100vw; min-height: 100vh; border-radius: 0; background-color: rgb(62, 74, 116);">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y" style="margin-top: 40px;">
      <h3 style="font-family: Arial, Helvetica, sans-serif; color: white; font-size: 24px; margin-bottom: 10px; margin-top: 10px;">Record New Visit</h3>
      <br>
    <div class="card" style="box-shadow: 0 0 2px grey; border-radius: 0; color: black; margin-top: 10px; width: 95%;">    
     
<!-- <div class="content-wrapper" style="margin-left: 300px; color: black">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card" style="box-shadow: 0 0 5px grey;">
      <h3 class="card-header" style="background-color: #c4ddf8; margin-bottom: 20px; font-family: Serif;">Record Follow Up</h3> -->
     
<!-- <div class="layout-page" style="margin-left: 50%; width: 100%; box-shadow: 0 0 10px grey; font-family: Serif;">
    <div class="content-wrapper">
      <div class="container-xl flex-grow-1 container-p-y" style="background-color: #c4ddf8">
          <h4 class="fw-bold py-3">Enter Follow Up Details</h4>
      </div> -->

        <div class="row" style="color: black; font-family: Helvetica;">
          <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" #userForm="ngForm" style="color: black">
              <div class="column">
                <div class="form-group">
                  <label>Chief Complaints*</label>
                  <input type="text" class="form-control" formControlName="chiefComplaints">
                  <span style="color: #ef0000;"
                      *ngIf="(registerFormControl['chiefComplaints'].touched || submitted) && registerFormControl['chiefComplaints'].errors && registerFormControl['chiefComplaints'].errors['required']">
                      Chief Complaints is required
                  </span>
                </div>

                <div class="form-group">
                    <label>Height (in cm)*</label>
                    <input type="text" class="form-control" formControlName="height">
                    <span style="color: #ef0000;"
                        *ngIf="(registerFormControl['height'].touched || submitted) && registerFormControl['height'].errors && registerFormControl['height'].errors['required']">
                        Height is required
                    </span>
                    <span style="color: #ef0000;"
                  *ngIf="registerFormControl['height'].touched && (registerFormControl['height'].value < 45 || registerFormControl['height'].value > 120)">
                  Height should be between 45 and 120
              </span> 
                </div>
  
                <div class="form-group">
                  <label>Weight (in kg)*</label>
                  <input type="text" class="form-control" formControlName="weight" (change)="calculate()">
                  <span style="color: #ef0000;"
                      *ngIf="(registerFormControl['weight'].touched || submitted) && registerFormControl['weight'].errors && registerFormControl['weight'].errors['required']">
                      Weight is required
                  </span>
                  <span style="color: #ef0000;"
                  *ngIf="registerFormControl['weight'].touched && (registerFormControl['weight'].value < 0 || registerFormControl['weight'].value > 23)">
                  Weight should be between 0 and 23
              </span>
                </div>
                
                <div class="form-group">
                  <label>SD Range</label>
                  <input type="text" class="form-control" value="{{sd}}" readonly>
                </div>
                
                <div class="form-group">
                  <label>MUAC (in mm)*</label>
                  <input type="text" class="form-control" formControlName="muac">
                  <span style="color: #ef0000;"
                      *ngIf="(registerFormControl['muac'].touched || submitted) && registerFormControl['muac'].errors && registerFormControl['muac'].errors['required']">
                      MUAC is required
                  </span>
                  <span style="color: #ef0000;"
                  *ngIf="registerFormControl['muac'].touched && (registerFormControl['muac'].value < 10 || registerFormControl['muac'].value > 200)">
                  MUAC should be between 10 and 200
                  </span>
                </div>
              </div>
              
              <div class="column">
                <div class="form-group">
                  <label>Head Circumference (in cm)*</label>
                  <input type="text" class="form-control" formControlName="headCircumference">
                  <span style="color: #ef0000;"
                      *ngIf="(registerFormControl['headCircumference'].touched || submitted) && registerFormControl['headCircumference'].errors && registerFormControl['headCircumference'].errors['required']">
                      Head Circumference is required
                  </span>
                  <span style="color: #ef0000;"
                  *ngIf="registerFormControl['headCircumference'].touched && (registerFormControl['headCircumference'].value < 30 || registerFormControl['headCircumference'].value > 60)">
                  Head Circumference should be between 30 and 60
                </span>
                </div>
  
                <div class="form-group">
                  <label style="margin-right: 20px;">Diet Chart</label>
                  <input style="margin-top: 30px; margin-left: 20px;" type="file" class="file-upload" style="font-family:'Times New Roman', Times, serif; color: #222; font-size: 14px"
                  onchange="console.log(event.target.files)" formControlName="">  
                  <!-- <span style="color: #ef0000;"
                      *ngIf="(registerFormControl['height'].touched || submitted) && registerFormControl['height'].errors && registerFormControl['height'].errors['required']">
                      Diet chart is required
                  </span> -->
                </div>
  
                <div class="form-group">
                  <label>Diet Adequacy*</label>
                  <!-- <input type="text" class="form-control" formControlName="dietAdequacy"> -->
                  <select formControlName="dietAdequacy" id="dietAdequacy" class="form-select">
                    <!-- <option></option> -->
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>  
                  <span style="color: #ef0000;"
                      *ngIf="(registerFormControl['dietAdequacy'].touched || submitted) && registerFormControl['dietAdequacy'].errors && registerFormControl['dietAdequacy'].errors['required']">
                      Diet Adequacy is required
                  </span>
                </div>
  
                <div class="form-group">
                  <label>Co-morbidities*</label>
                  <select formControlName="coMorbidities" id="coMorbidities" class="form-select">
                    <option value="Pneumonia">Pneumonia</option>
                    <option value="CHD">CHD</option>
                    <option value="Tuberculosis">Tuberculosis</option>
                    <option value="None">None</option>
                </select>  
                  <span style="color: #ef0000;"
                      *ngIf="(registerFormControl['coMorbidities'].touched || submitted) && registerFormControl['coMorbidities'].errors && registerFormControl['coMorbidities'].errors['required']">
                      Co-morbidities is required
                  </span>
                </div>
              </div>
              
              <div class="column">
                <div class="form-group">
                  <label>Other Symptoms</label>
                  <input type="text" class="form-control" formControlName="otherSymptoms">             
                </div>

                <div class="form-group">
                  <label>Provisional Diagnosis*</label>
                  <input type="text" class="form-control" formControlName="provisionalDiagnosis">
                  <span style="color: #ef0000;"
                      *ngIf="(registerFormControl['provisionalDiagnosis'].touched || submitted) && registerFormControl['provisionalDiagnosis'].errors && registerFormControl['provisionalDiagnosis'].errors['required']">
                      Provisional Diagnosis is required
                  </span>             
                </div>

                <div class="form-group">
                  <label>Treatment*</label>
                  <input type="text" class="form-control" formControlName="treatment">
                  <span style="color: #ef0000;"
                      *ngIf="(registerFormControl['treatment'].touched || submitted) && registerFormControl['treatment'].errors && registerFormControl['treatment'].errors['required']">
                      Treatment is required
                  </span>
                </div>

                <div class="form-group">
                  <label>Place of Follow Up*</label>
                  <input type="text" class="form-control" formControlName="place">
                  <span style="color: #ef0000;"
                      *ngIf="(registerFormControl['place'].touched || submitted) && registerFormControl['place'].errors && registerFormControl['place'].errors['required']">
                      Place of Follow Up is required
                  </span>
                </div>
  
  

                
                    
                  <button type="submit" class="btn rounded-pill btn-primary" 
                  style="color: white; float: left; background-color:#008ebe; width: 35%; 
                  border-color: white"> Save </button>
                
            
                  </div>
              </form>
          </div>
        <!-- </div> -->

        <!-- </div> -->



        <div class="content-backdrop fade"></div>
    </div>
</div>

<!-- Content wrapper -->
