<style>
  .mat-option {
    color: red;
  }
</style>

<div class="content-wrapper" style="margin-left: 190px; margin-top: -30px; width: 85vw; height: 180vh; border-radius: 0; background-color: rgb(62, 74, 116);">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
      <h3 style="font-family: Arial, Helvetica, sans-serif; color: white; font-size: 24px; margin-bottom: 10px; margin-top: 10px;">Track Child: Aanchal (SAM-1234)</h3>
      <br>
    <div class="card" style="box-shadow: 0 0 2px grey; border-radius: 0; color: black; margin-top: 10px;">    
      <div class="card-header" style="background-color: #ffffff; font-family: Arial, Helvetica, sans-serif;">
      
      
<!-- <div class="content-wrapper" style="margin-left: 190px; width: 85vw;">
  <div class="container-xxl flex-grow-1 container-p-y">
    <h3 style="font-family: 'Mulish'"><strong>Track Patient: Aanchal (RCH-1234)</strong></h3>
  <div class="card" style="box-shadow: 0 0 2px grey; background-color: white;">
    <div class="card-header" style="background-color: #d9ecf3; font-family: Serif;"></div> -->
<mat-tab-group style="width: 200%; font-family:'Times New Roman', Times, serif">
  <mat-tab label="Demography" style="color: red; font-weight: bold;">
    <div class="table-responsive text-nowrap">
      <table class="table card-table">
        <thead>
          <!-- Patient Details -->
        </thead>
        <tbody style="font-family:Arial, Helvetica, sans-serif">
          <tr style="color: black;">
            <td>
              <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Name</strong>
            </td>
            <td>Aanchal</td>                    
          </tr>
          <tr style="color: black;">
              <td>
                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>SAM ID</strong>
              </td>
              <td>3456</td>                    
            </tr>                
          <tr style="color: black;">
              <td>
                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>RCH ID</strong>
              </td>
              <td>1234</td>       
          </tr>
          <tr style="color: black;">
            <td>
              <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Gender</strong>
            </td>
            <td>Female</td>       
        </tr>
          <tr style="color: black;">
              <td>
                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Aadhar No</strong>
              </td>
              <td>9876543064</td>       
          </tr>
          <tr style="color: black;">
              <td>
                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>ABHA No</strong>
              </td>
              <td>876674</td>       
          </tr>
    
          <tr style="color: black;">
            <td>
              <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Contact No</strong>
            </td>
            <td>9876543210</td>                         
          </tr>

          <tr style="color: black;">
            <td>
              <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Address</strong>
            </td>
            <td>21st Road, HSR Layout</td>                         
          </tr>

          <tr style="color: black;">
            <td>
              <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Pincode</strong>
            </td>
            <td>560075</td>                         
          </tr>

          <tr style="color: black;">
              <td>
                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>NRC Discharged From</strong>
              </td>
              <td>VVH</td>       
          </tr>

          <tr style="color: black;">
              <td>
                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Discharge Date</strong>
              </td>
              <td>10-10-2022</td>       
          </tr>
        </tbody>
      </table>
</div>
  </mat-tab>
  <mat-tab label="Discharge Summary">
    <div class="table-responsive text-nowrap">
      <table class="table card-table">   
        <tbody style="font-family:Arial, Helvetica, sans-serif">
          <tr style="color: black;">
            <td><strong>Name</strong></td>
            <td>Aanchal</td>
          </tr>

          <tr style="color: black;">
              <td><strong>RCH-ID</strong></td>
              <td>1234</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Age in months</strong></td>
              <td>12</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Gender</strong></td>
              <td>Female</td>
            </tr>

            <tr style="color: black;">
              <td><strong>NRC Name</strong></td>
              <td>VVH</td>
            </tr>

            <tr style="color: black;">
              <td><strong>SAM ID</strong></td>
              <td>7872</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Discharge Weight in Kg</strong></td>
              <td>6</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Discharge Height in Cm</strong></td>
              <td>45</td>
            </tr>
            
            <tr style="color: black;">
              <td><strong>SD Range</strong></td>
              <td>-1</td>
            </tr>

            <tr style="color: black;">
              <td><strong>MUAC</strong></td>
              <td>120 mm</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Co-morbidities (if any)</strong></td>
              <td>None</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Duration of Stay</strong></td>
              <td>14 days</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Average Weight Gain</strong></td>
              <td>3g/kg per day</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Clinical Impression</strong></td>
              <td>-</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Outcome</strong></td>
              <td>Improved</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Medical Prescription</strong></td>
              <td>None</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Post-discharge Advice</strong></td>
              <td></td>
            </tr>

            <tr style="color: black;">
              <td><strong>Dietary Advice</strong></td>
              <td>Increase protein intake</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Community Follow Up Calendar</strong></td>
              <!-- <td>-</td> -->
            </tr>
      
    </tbody>
  </table>
</div>
  </mat-tab>

  <mat-tab label="Follow Up Details">
    <div class="table-responsive text-nowrap">
      <table class="table card-table" style="width: 100%; font-family: Arial, Helvetica, sans-serif; color: black">
        <thead>
          <tr style="color: black;">
            <th style="color: black;">Date</th>
            <th style="color: black;">Follow Up Type</th>
            <th style="color: black;">ASHA Worker</th>
            <th style="color: black;">Location</th>
            <th style="color: black;">ASHA Contact</th>
            <!-- <th style="color: black;">ASHA Worker</th> -->
          </tr>
        </thead>
        <tbody class="table-border-bottom-0" >
          <tr (click)="openModal()">
            <td >12-02-2022</td>
            <td>Community</td>
            <td>Nilam Patel</td>
            <td>Bangalore</td>
            <td>9845778398</td>
          </tr>
          
          <tr (click)="openModal()">
            <td>20-02-2022</td>
            <td>PHC</td>
            <td>Dr. Srikanth</td>
            <td>Bangalore</td>
            <td>8983758793</td>
          </tr>

          <tr (click)="openModal()">
            <td>28-02-2022</td>
            <td>Community</td>
            <td>Nilam Patel</td>
            <td>Bangalore</td>
            <td>9845778398</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
  </div>
  </div>
</div>