<style>
  .mat-option {
    color: red;
  }
</style>

<div class="content-wrapper" style="margin-left: 0vw; overflow: auto; margin-top: 0px; width: 100vw; height: 180vh; border-radius: 0; background-color: #3e4a74;">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y" style="margin-top: 40px;">
      <h3 style="font-family: Arial, Helvetica, sans-serif; color: white; font-size: 24px; margin-bottom: 10px; margin-top: 10px;">
        Track Child: {{patient.name}} (RCH ID/SAM ID- {{this.patient?.rchId}}/{{this.patient?.samNum}})
        <span class="badge bg-label-warning" style="color: #dc9404; margin-left: 10px; font-size: 14px; font-weight: bold; font-size: 90%">MAM</span>
        <button type="button" class="btn rounded-pill btn-primary" style="background-color: #008ebe; 
        float: right; width: 12%; margin-right: 8%;" (click)="openRemarksModal()">Add Remarks</button>
      </h3><br>
    <div class="card" style="box-shadow: 0 0 2px grey; border-radius: 0; color: black; margin-top: 10px;">    
      <div class="card-header" style="background-color: #ffffff; font-family: Arial, Helvetica, sans-serif;">
      
      
<!-- <div class="content-wrapper" style="margin-left: 190px; width: 85vw;">
  <div class="container-xxl flex-grow-1 container-p-y">
    <h3 style="font-family: 'Mulish'"><strong>Track Patient: Aanchal (RCH-1234)</strong></h3>
  <div class="card" style="box-shadow: 0 0 2px grey; background-color: white;">
    <div class="card-header" style="background-color: #d9ecf3; font-family: Serif;"></div> -->
<mat-tab-group style="width: 200%; font-family:'Times New Roman', Times, serif">
  <mat-tab label="Demography" style="color: red; font-weight: bold;">
    <div class="table-responsive text-nowrap">
      <table class="table card-table">
        <thead>
          <!-- Patient Details -->
        </thead>
        <tbody style="font-family:Arial, Helvetica, sans-serif">
          <tr style="color: black;">
            <td>
              <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Name</strong>
            </td>
            <td>{{patient?.name}}</td>
          </tr>
          <tr style="color: black;">
              <td>
                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>SAM ID</strong>
              </td>
              <td>{{patient?.samNum}}</td>
            </tr>                
          <tr style="color: black;">
              <td>
                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>RCH ID</strong>
              </td>
              <td>{{patient.rchId}}</td>
          </tr>
          <tr style="color: black;">
            <td>
              <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Gender</strong>
            </td>
            <td>{{patient.gender}}</td>
        </tr>
          <tr style="color: black;">
              <td>
                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Aadhar No</strong>
              </td>
              <td>{{patient?.aadharId}}</td>
          </tr>
          <tr style="color: black;">
              <td>
                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>ABHA No</strong>
              </td>
              <td>{{patient?.abhaId}}</td>
          </tr>
    
          <tr style="color: black;">
            <td>
              <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Contact No</strong>
            </td>
            <td>{{patient?.mobileNumber}}</td>
          </tr>

          <tr style="color: black;">
            <td>
              <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Address</strong>
            </td>
            <td>{{patient.address}}</td>
          </tr>

          <tr style="color: black;">
            <td>
              <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Pincode</strong>
            </td>
            <td>{{patient.pincode}}</td>
          </tr>

          <tr style="color: black;">
              <td>
                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>NRC Discharged From</strong>
              </td>
              <td>VVH</td>       
          </tr>

          <tr style="color: black;">
              <td>
                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Discharge Date</strong>
              </td>
              <td>{{patient.dischargeDate | date : "dd-MM-y"}} </td>
          </tr>
        </tbody>
      </table>
</div>
  </mat-tab>

  <mat-tab label="Discharge Summary">
    <div class="table-responsive text-nowrap">
      <table class="table card-table">   
        <tbody style="font-family:Arial, Helvetica, sans-serif">
          <tr style="color: black;">
            <td><strong>Name</strong></td>
            <td>{{patient?.name}}</td>
          </tr>

          <tr style="color: black;">
              <td><strong>RCH-ID</strong></td>
              <td>{{patient?.rchId}}</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Age in months</strong></td>
              <td>{{patient?.ageInMonths}}</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Gender</strong></td>
              <td>{{patient?.gender}}</td>
            </tr>

            <tr style="color: black;">
              <td><strong>NRC Name</strong></td>
              <td>VVH</td>
            </tr>

            <tr style="color: black;">
              <td><strong>SAM ID</strong></td>
              <td>{{patient?.samNum}}</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Discharge Weight in Kg</strong></td>
              <td>{{discharge?.weightKg}} kg</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Discharge Height in Cm</strong></td>
              <td>{{discharge?.heightCm}} cm</td>
            </tr>
            
            <tr style="color: black;">
              <td><strong>SD Range</strong></td>
              <td>-1</td>
            </tr>

            <tr style="color: black;">
              <td><strong>MUAC</strong></td>
              <td>120 mm</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Co-morbidities (if any)</strong></td>
              <td>{{comorbid}}</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Duration of Stay</strong></td>
              <td>{{dur}}</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Average Weight Gain</strong></td>
              <td>{{discharge?.avgWeightGainKg}} g/kg per day</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Clinical Impression</strong></td>
              <td>{{discharge?.clinicalImpression}}</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Outcome</strong></td>
              <td>{{discharge?.outcome}}</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Medical Prescription</strong></td>
              <td>{{discharge?.treatmentGiven}}</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Post-discharge Advice</strong></td>
              <td>{{discharge?.medicalAdvice}}</td>
            </tr>

            <tr style="color: black;">
              <td><strong>Dietary Advice</strong></td>
              <td>{{discharge?.dietaryAdvice}}</td>
            </tr>

<!--            <tr style="color: black;">-->
<!--              <td><strong>Community Follow Up Calendar</strong></td>-->
<!--              &lt;!&ndash; <td>-</td> &ndash;&gt;-->
<!--            </tr>-->
      
    </tbody>
  </table>
</div>
  </mat-tab>

  <mat-tab label="Follow Up Details">
    <div class="table-responsive text-nowrap">
      <table class="table card-table" style="width: 100%; font-family: Arial, Helvetica, sans-serif; color: black">
        <thead>
          <tr style="color: black;">
            <th style="color: black;">Date</th>
            <th style="color: black;">Follow Up Type</th>
            <th style="color: black;">Follow Up Done By</th>
            <th style="color: black;">Place of Followup</th>
            <th style="color: black;">Contact</th>
            <!-- <th style="color: black;">ASHA Worker</th> -->
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr *ngFor="let f of followups;" (click)="openModal(f.followupId, f.followupDate)">
            <td >{{f?.followupDate | date : "dd-MM-y"}} </td>
            <td>{{f?.type}}</td>
            <td>{{f?.ashaName}}</td>
            <td>{{f?.place}}</td>
            <td>{{f?.ashaNumber}}</td>
          </tr>
          
<!--          <tr (click)="openModal()">-->
<!--            <td>20-02-2022</td>-->
<!--            <td>PHC</td>-->
<!--            <td>Dr. Srikanth</td>-->
<!--            <td>Bangalore</td>-->
<!--            <td>8983758793</td>-->
<!--          </tr>-->

<!--          <tr (click)="openModal()">-->
<!--            <td>28-02-2022</td>-->
<!--            <td>Community</td>-->
<!--            <td>Nilam Patel</td>-->
<!--            <td>Bangalore</td>-->
<!--            <td>9845778398</td>-->
<!--          </tr>-->
        </tbody>
      </table>
    </div>
  </mat-tab>

  <mat-tab label="Remarks" style="color: red; font-weight: bold;">
    <div class="table-responsive text-nowrap">
      <table class="table card-table">
        <thead>
          <!-- Patient Details -->
        </thead>
        <tbody style="font-family:Arial, Helvetica, sans-serif">
          <tr style="color: black; font-size: 0.75rem;">
            <td><strong>DATE</strong></td>
            <td><strong>REMARKS</strong></td>
            <td><strong>DOCTOR NAME</strong></td>
            <td><strong>DOCTOR CONTACT</strong></td>
          </tr>
          
          <tr style="color: black;">
            <td>12-02-2022</td>
            <td>Patient is deteriorating</td>
            <td>Dr. Nilam</td>
            <td>9876543210</td>
          </tr>

          <tr style="color: black;">
            <td>20-02-2022</td>
            <td>Condition is improving after increased protein intake</td>
            <td>Dr. Purab</td>
            <td>8765432109</td>
          </tr>
        </tbody>
      </table>
  </div>
  </mat-tab>
</mat-tab-group>
  </div>
  </div>
</div>