<div class="container-xxl flex-grow-1 container-p-y"  style="margin-left: 35%;  width: 100%">
  <h3 style="font-family: 'Mulish'"><strong>Patient Details</strong></h3>
  <div class="card" style=" font-family: 'Times New Roman', Times, serif; width: 100%">
      
          <div class="card-body" style="font-family:'Serif';">
            <div class="table-responsive text-nowrap">

              <table class="table table-basic">
                <thead>
                  <!-- Patient Details -->
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Name</strong>
                    </td>
                    <td>{{ patient.name }}</td>                    
                  </tr>
                  <tr>
                      <td>
                        <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>SAM ID</strong>
                      </td>
                      <td>{{ patient.samId }}</td>                    
                    </tr>                
                  <tr>
                      <td>
                        <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>RCH ID</strong>
                      </td>
                      <td>{{ child.rchId }}</td>       
                  </tr>
                  <tr>
                    <td>
                      <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Gender</strong>
                    </td>
                    <td>{{ child.gender }}</td>       
                </tr>
                  <tr>
                      <td>
                        <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Aadhar No</strong>
                      </td>
                      <td>{{ patient.aadharId }}</td>       
                  </tr>
                  <tr>
                      <td>
                        <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>ABHA No</strong>
                      </td>
                      <td>{{ patient.abhaId }}</td>       
                  </tr>
            
                  <tr>
                    <td>
                      <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Contact No</strong>
                    </td>
                    <td>{{ child.mobileNumber }}</td>                         
                  </tr>

                  <tr>
                    <td>
                      <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Address</strong>
                    </td>
                    <td>{{ child.address }}</td>                         
                  </tr>

                  <tr>
                    <td>
                      <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Pincode</strong>
                    </td>
                    <td>{{ child.pincode }}</td>                         
                  </tr>

                  <tr>
                      <td>
                        <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>NRC Discharged From</strong>
                      </td>
                      <td>{{ patient.nrcFrom }}</td>       
                  </tr>

                  <tr>
                      <td>
                        <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Discharge Date</strong>
                      </td>
                      <td>{{ child.dischargeDate }}</td>       
                  </tr>

                  <tr>
                      <td>
                        <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Standard Deviation on Date of Discharge</strong>
                      </td>
                      <td>{{ child.dischargeSd }}</td>       
                  </tr>
                </tbody>
              </table>
        </div>
      <div class="content-backdrop fade"></div>
    </div>
  </div>
</div>