<div class="container-xxl flex-grow-1 container-p-y"  style="margin-left: 200px;  width: 150%">
  <button type="button" class="btn rounded-pill btn-primary" 
                style="color: #008ebe; background-color:white; 
                width: 20%; border-color: #008ebe; float: right;
                font-family: 'Times New Roman', Times, serif;">
                <i class="fa fa-file-pdf-o" style="color: red; "></i>
                Export as PDF
              </button>
              <h3 style="font-family: 'Mulish'"><strong>Discharge Summary</strong></h3>
  
<div class="card" 
style=" font-family: 'Times New Roman', Times, serif;
width: 100%">
  <!-- <div class="card-header" style="background-color: #d2e7f9; font-family: Serif;">
  </div> -->

<!-- <div class="card" style="margin-left: 300px; font-size: 15px; width: 100%; font-family:'Serif'; box-shadow: 0 0 5px grey;">
  <h3 class="card-header" style="background-color: #c4ddf8; margin-bottom: 20px; font-family: Serif;">Discharge Summary</h3> -->
  <div class="card-body" >
    <div class="table-responsive text-nowrap">
      <table class="table card-table">
        
        <tbody>
          <tr>
            <td><strong>Name</strong></td>
            <td>Aanchal</td>
          </tr>

          <tr>
              <td><strong>RCH-ID</strong></td>
              <td>2467825</td>
            </tr>

            <tr>
              <td><strong>Age</strong></td>
              <td>3</td>
            </tr>

            <tr>
              <td><strong>Gender</strong></td>
              <td>Female</td>
            </tr>

            <tr>
              <td><strong>NRC Name</strong></td>
              <td>VVH</td>
            </tr>

            <tr>
              <td><strong>SAM ID</strong></td>
              <td>32463</td>
            </tr>

            <tr>
              <td><strong>Discharge Weight</strong></td>
              <td>30 </td>
            </tr>

            <tr>
              <td><strong>Discharge Height</strong></td>
              <td>120cm</td>
            </tr>
            
            <tr>
              <td><strong>SD Range</strong></td>
              <td>-2</td>
            </tr>

            <tr>
              <td><strong>MUAC</strong></td>
              <td>120 mm</td>
            </tr>

            <tr>
              <td><strong>Co-morbidities (if any)</strong></td>
              <td>None</td>
            </tr>

            <tr>
              <td><strong>Duration of Stay</strong></td>
              <td>14 days</td>
            </tr>

            <tr>
              <td><strong>Average Weight Gain</strong></td>
              <td>17g/kg per day</td>
            </tr>

            <tr>
              <td><strong>Clinical Impression</strong></td>
              <td>-</td>
            </tr>

            <tr>
              <td><strong>Outcome</strong></td>
              <td>MAM</td>
            </tr>

            <tr>
              <td><strong>Medical Prescription</strong></td>
              <td>None</td>
            </tr>

            <tr>
              <td><strong>Post-discharge Advice</strong></td>
              <td>-</td>
            </tr>

            <tr>
              <td><strong>Dietary Advice</strong></td>
              <td>-</td>
            </tr>

            <tr>
              <td><strong>Community Follow Up Calendar</strong></td>
              <td>-</td>
            </tr>
      
    </tbody>
  </table>
</div>
</div>
</div>