<style>
  .w3-button:hover {
    background-color: #00ff00;
  }

  .active{
    background-color: #d9edf7;
}
</style>

<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>

<div class="w3-sidebar w3-light-grey w3-bar-block" style="width: 190px; min-width: 50px; max-width: 200px; height:100%; 
font-family: Arial, Helvetica, sans-serif; margin-top: -50px; position: fixed; 
font-size: 14.5px; font-weight:600; color: black">
  <h3 class="w3-bar-item"></h3>
  <!-- <a href="home" class="w3-bar-item w3-button" style="color: black">
    <i class="fa fa-home" style="color: black; padding-right: 10px"></i>
    HOME 
  </a> -->
  <a routerLink="/home" routerLinkActive="active" class="w3-bar-item w3-button" style="color: black">
    <i class="fa fa-home" style="color: black; padding-right: 10px"></i>
    Home 
  </a>

  <a routerLink="/discharged-patients" routerLinkActive="active" class="w3-bar-item w3-button" style="color: black">
    <i class="fa fa-plus" style="color: black; padding-right: 10px"></i>
    PHC Confirmation 
  </a>

  <a routerLink="/assign-asha" routerLinkActive="active" class="w3-bar-item w3-button" style="color: black">
    <i class="fa fa-pencil" style="color: black; padding-right: 10px"></i>
    ASHA Assignment 
  </a>

  <!-- <a routerLink="/patients" routerLinkActive="active" class="w3-bar-item w3-button" style="color: black">
    <i class="fa fa-users" style="color: black; padding-right: 10px"></i>
    Discharge Details 
  </a> -->

  <a routerLink="/followup-list" routerLinkActive="active" class="w3-bar-item w3-button" style="color: black">
    <i class="fa fa-medkit" style="color: black; padding-right: 10px"></i>
    Follow Ups
  </a>

  <a routerLink="/track-child" routerLinkActive="active" class="w3-bar-item w3-button" style="color: black">
    <i class="fa fa-search" style="color: black; padding-right: 10px"></i>
    Track Child
  </a>
</div>

