<style>
    .column {
     float: left;
     width: 50%;
     padding: 20px;
   }
   
   /* Clear floats after the columns */
   .row:after {
     content: "";
     display: table;
     clear: both;
   }
</style>
  
<div style="box-shadow: 0px 8px 10px gray, 
-10px 8px 15px gray, 10px 8px 15px gray;">
  <div class="modal-header" style="width: 100% ">
    <h3 style="font-family: 'Mulish'; color: #566a7f"><strong>Patient has been successfully assigned to your PHC</strong></h3>
    <i class='fa fa-times' style='font-size:24px; color:rgb(70, 68, 68);' aria-label="Close"
      (click)="modalRef.close()"></i>
    </div>
    <div class="modal-body" style="font-family:'Times New Roman', Times, serif">
        <table class="table">
            <thead>
              
            </thead>
            <tbody class="table-border-bottom-0">
              <tr>
                  <td>Patient Name</td>
                  <td>Aanchal</td>
              </tr>
  
              <tr>
                  <td>Address</td>
                  <td>Ward #4, 21st Road, Singasandra</td>
                </tr>
            
                <tr>
                    <td>Pincode</td>
                    <td>560076</td>
                  </tr>    
                  <tr>
                    <td>Contact No</td>
                    <td>9887938982</td>
                  </tr>              
            </tbody>
          </table>
    </div>
</div>