<style>
  .th {
    color: black;
    font-weight: 600;
  }
</style>

<div class="content-wrapper" style="margin-left: 15vw; overflow: auto; margin-top: 0px; width: 85vw; height: 100vh; border-radius: 0; background-color: rgb(62, 74, 116);">

<!-- <div class="content-wrapper" style="margin-left: 190px; margin-top: -30px; width: 86vw; height: 100vh; border-radius: 0; background-color: rgb(62, 74, 116);"> -->
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y" style="margin-top: 40px;">
        <h3 style="font-family: Arial, Helvetica, sans-serif; color: white; font-size: 24px; margin-bottom: 10px; margin-top: 10px;">Community Follow Up - PHC Approval</h3>
        <br>
      <div class="card" style="box-shadow: 0 0 2px grey; border-radius: 0; color: black; margin-top: 10px;">    
        <div class="card-header" style="background-color: #d9edf7; font-family: Arial, Helvetica, sans-serif;">
          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse" 
          style="margin-left: 2%; float: right; margin-top: -18px; margin-bottom: -22px; 
          font-size: 13px; font-family: 'Times New Roman', Times, serif;">
          
              <div class="navbar-nav align-items-center" style="margin-bottom: 5px; margin-bottom: 5px;">
              <div class="nav-item d-flex align-items-center">
                  <div style="margin-right: 10px;">  
                    <app-date-range></app-date-range>
                  </div>
                  <input
                  style="background-color: white; height: 40px; font-size: 15px;"
                  type="text"
                  class="form-control border-0 shadow-none"
                  placeholder="Search by anything"
                  aria-label="Search..." [(ngModel)]="searchText"
                  />
              </div>
              </div>
          </div>
        </div>
        <div class="table-responsive text-nowrap" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: black;">
          <table class="table">
            <thead style="color: black;">
              <tr style="color: black;">
                <th style="color: black;">Assignment Date</th>
                <th style="color: black;">RCH ID/SAM ID</th>
                <th style="color: black;">Patient Name</th>
                <th style="color: black;">Name of NRC</th>
                <th style="color: black;">Mobile No</th>
                <th style="color: black;">Address</th>
                <th style="color: black;">Pincode</th>
                <th style="color: black;">Action</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr style="color: black;" *ngFor="let p of patients | search: searchText">
                <td>{{p.date | date : "dd-MM-y"}}</td>
                <td><strong>{{p.rchId}}/{{p.samId}}</strong></td>
                <td>{{p.name}}</td>
                <td>VVH</td>
                <td>{{p.mobileNumber}}</td>
                <td>{{p.address}}</td>
                <td>{{p.pincode}}</td>
                <td style="color: white">
                    <button type="button" class="btn rounded-pill btn-primary" style="background-color:#008EBE; border-color: white; color: white; padding-bottom: 25px; padding-top: -10px" (click)="openApproveModal(p)">Approve</button></td>           
                <td style="color:#111">
                  <button type="button" class="btn rounded-pill btn-primary" style="background-color:white; border-color: #008EBE; color: #008EBE; 
                  margin-left:-40px; padding-bottom: 25px; padding-top: -10px" (click)="openModal()">Reject</button></td>           
              </tr>

<!--              <tr>-->
<!--                <td> <strong>Gayathri</strong></td>-->
<!--                <td>IGH</td>-->
<!--                <td>98879389829</td>-->
<!--                <td>4th main, HSR Layout</td>-->
<!--                <td>560008</td>-->
<!--                <td style="color: white">-->
<!--                    <button type="button" class="btn rounded-pill btn-primary" style="background-color:#008EBE; border-color: white; color: white" (click)="openApproveModal()">Approve</button></td>           -->
<!--                <td style="color:#111">-->
<!--                  <button type="button" class="btn rounded-pill btn-primary" style="background-color:white; border-color: #008EBE; color: #008EBE; margin-left:-40px;" (click)="openModal()">Reject</button></td>           -->
<!--              </tr>-->
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div class="content-backdrop fade"></div>
  