<!-- <h4 style="margin-top:1%; padding-bottom: 1%;">Discharged Patients</h4> -->
<div class="content-wrapper" style="margin-left: 200px;  width: 95%">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h3 style="font-family: 'Mulish'"><strong>Community Follow Up - PHC Approval</strong></h3>
      <div class="card" style="box-shadow: 0 0 5px grey;">
        <!-- <h3 class="card-header" style="background-color: #c4ddf8; margin-bottom: 20px; font-family: Serif;">Discharged Patients</h3>
        <app-search></app-search> -->
            
        <div class="card-header" style="background-color: #d9ecf3; font-family: Serif;">
        <!-- <app-search></app-search> -->
        <!-- <i style="float: left; margin-right: 5px; color: grey; size: 15px" class="fa fa-filter"></i> Filter -->
        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse" 
        style="margin-left: 2%; float: right; margin-top: -10px; margin-bottom: -10px; width: 50%
        font-size: 13px; font-family: 'Times New Roman', Times, serif;">
            
            <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center" style="box-shadow: 0px 15px 10px -15px #111">
                
                <input
                type="text"
                class="form-control border-0 shadow-none"
                placeholder="Search"
                aria-label="Search..."
                />
                <!-- <i class="fa fa-search"></i> -->
            </div>
            </div>
        </div>
        </div>
        <div class="table-responsive text-nowrap" style="font-size: 15px; font-family:'Serif'">
          <table class="table">
            <thead>
              <tr>
                <th>Patient Name</th>
                <th>Name of NRC</th>
                <th>Mobile No</th>
                <th>Address</th>
                <th>Pincode</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr>
                <td> <strong>Aanchal</strong></td>
                <td>VVH</td>
                <td>98879389829</td>
                <td>21st Road, Singasandra</td>
                <td>560076</td>
                <td style="color: white">
                    <button type="button" class="btn rounded-pill btn-primary" style="background-color:#008EBE; border-color: white; color: white" (click)="openApproveModal()">Approve</button></td>           
                <td style="color:#111">
                  <button type="button" class="btn rounded-pill btn-primary" style="background-color:white; border-color: #008EBE; color: #008EBE; margin-left:-40px;" (click)="openModal()">Reject</button></td>           
              </tr>

              <tr>
                <td> <strong>Gayathri</strong></td>
                <td>IGH</td>
                <td>98879389829</td>
                <td>4th main, HSR Layout</td>
                <td>560008</td>
                <td style="color: white">
                    <button type="button" class="btn rounded-pill btn-primary" style="background-color:#008EBE; border-color: white; color: white" (click)="openApproveModal()">Approve</button></td>           
                <td style="color:#111">
                  <button type="button" class="btn rounded-pill btn-primary" style="background-color:white; border-color: #008EBE; color: #008EBE; margin-left:-40px;" (click)="openModal()">Reject</button></td>           
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div class="content-backdrop fade"></div>
  