<style>
    .column {
    float: left;
    align-items: center;
    width: 20%;
    padding-left: 21%;
    padding-bottom: 20px;
  }

  .circle {
    width: 110px;
    height: 110px;
    line-height: 110px;
    border-radius: 110%;
    border-color: black;
    font-size: 20px;
    font-weight: 600;
    color: rgb(62, 74, 116);
    text-align: center;
    background: #ffffff;
    border-width: 10px;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>


    <div class="content-wrapper" style=" margin-top: -30px; width: 100vw; height: 100vh; border-radius: 0; background-color: rgb(62, 74, 116);">
      <div class="container-xl flex-grow-1 container-p-y">   
        <img src="../../assets/logo.jpg" style="align: center; align-items: center; width: 15%; margin-left: 42%">
        <h2 style="font-family: Arial, Helvetica, sans-serif; margin-left: 42%; color: white;
        margin-top: 20px; margin-bottom: 20px;">SNEHA PHC</h2>   
        <p style="color: white; text-align: center;">Nutritional Rehabilitation Centre (NRC) is a facility based care unit where children below five years with Severe Acute Malnutrition(SAM) are admitted with their mothers for treatment, stabilization and rehabilitation.

        </p>          
        <!-- <h3 style="font-family: 'Mulish'; margin-left: 45%; margin-top: 50px; margin-bottom: 20px;"><strong><u>Login As</u></strong></h3>              -->
        <!-- <div class="col-lg-6 col-md-4 order-1"> -->
            <!-- <div class="card">
                <h3 class="card-header" style="background-color: #c4ddf8; margin-bottom: 20px; font-family: Serif;">Welcome</h3> -->
                
        <div class="card" style="font-family: Arial, Helvetica, sans-serif; background-color: rgb(62, 74, 116);
        margin-left: 20%; border-radius: 0; width: 60%">
                
        <h3 class="card-header" style="background-color: rgb(62, 74, 116); color: white; margin-bottom: 20px;  
        font-family: Arial, Helvetica, sans-serif; margin-left: 38%; font-weight: 600;">Login As</h3>
                
            <div class="row" style="color: black; width: 100%; padding-left: 0%;" >
                <form style="color: black">
                    <div class="column"> 
                        <a href="login-doctor">                      
                            <div class="circle">Doctor</div>  
                        </a>          
                      </div>
                      
                      <div class="column">                                             
                        <a href="login-anm">                      
                            <div class="circle">ANM</div>  
                        </a>  
                      </div>

                      <div class="column">
                        <a href="login-asha">                      
                            <div class="circle">ASHA</div>  
                        </a>  
                      </div>

                </form>
            </div>
        </div>
      
                      