<style>
    .column {
    /* float: left; */
    align-items: center;
    width: 40%;
    /* padding-left: 21%; */
    padding-bottom: 20px;
  }

  .circle {
    width: 120%;
    height: 100%;
    line-height: 110px;
    border-radius: 100%;
    border-color: black;
    font-size: 15px;
    font-weight: 600;
    color: rgb(62, 74, 116);
    text-align: center;
    background: #ffffff;
    border-width: 10px;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>

<div class="content-wrapper" style="margin-top: -7vh; width: 100vw; height: 107vh; overflow: auto;
border-radius: 0; background-color: rgb(62, 74, 116);">

    <!-- <div class="content-wrapper" style=" margin-top: -30px; width: 100vw; height: 100vh; border-radius: 0; background-color: rgb(62, 74, 116);"> -->
      <div class="container-xl flex-grow-1 container-p-y" style="margin-top: 40px; overflow: hidden;">   
        <img src="../../assets/logo.jpg" style="align: center; align-items: center; width: 15%; margin-left: 42%">
        <h2 style="font-family: Arial, Helvetica, sans-serif; margin-left: 42%; color: white;
        margin-top: 20px; margin-bottom: 20px;">SNEHA PHC</h2>   
        <h6 style="color: white; text-align: center;">
          PHC is the basic health unit in a community with a qualified doctor of public sector, entrusted to provide integrated curative and preventive healthcare to its population. They play a major role in diagnosing and providing first line of curative management of a severe acute malnourished (SAM) child.
        </h6>  
        
        <h6 style="color: white; text-align: center;">
          ASHA is a health acitivist in  the community who mobilises and facilitate people in accessing health and health related services including those related to nutrition.
        </h6>
        <!-- <h3 style="font-family: 'Mulish'; margin-left: 45%; margin-top: 50px; margin-bottom: 20px;"><strong><u>Login As</u></strong></h3>              -->
        <!-- <div class="col-lg-6 col-md-4 order-1"> -->
            <!-- <div class="card">
                <h3 class="card-header" style="background-color: #c4ddf8; margin-bottom: 20px; font-family: Serif;">Welcome</h3> -->
                
        <div class="card" style="font-family: Arial, Helvetica, sans-serif; background-color: rgb(62, 74, 116);
        margin-left: 20%; border-radius: 0; width: 60%">
                
        <h3 class="card-header" style="background-color: rgb(62, 74, 116); color: white; 
        font-family: Arial, Helvetica, sans-serif; margin-left: 38%; font-weight: 600;">Login As</h3>
                
            <div class="row" style="color: black; width: 100%; padding-left: 7%;" >
                <!-- <form> -->
                      <div class="column" style="width: 20%"> 
                        <div class="circle"><a href="login-doctor">PHC Doctor</a></div>         
                      </div>

                      <div class="column" style="width: 20%"> 
                        <div class="circle"><a href="login-nrc">NRC Doctor</a></div>         
                      </div>
                      
                      <div class="column" style="width: 20%">                                                                                          
                          <div class="circle"><a href="login-anm">ANM</a></div>  
                      </div>

                      <div class="column" style="width: 20%">
                        <div class="circle"><a href="login-asha">ASHA</a></div>  
                      </div>

                      <div class="column" style="width: 20%"> 
                        <div class="circle"><a href="login-doctor">Admin</a></div>         
                      </div>

                <!-- </form> -->
            </div>
        </div>
      
                      