<style>
    .column {
    /* float: left; */
    align-items: center;
    width: 40%;
    /* padding-left: 21%; */
    padding-bottom: 20px;
  }

  .square {
    height: 100%;
    width: 100%;
    background-color: #3e4a74;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border-width: 10px;
    color: white;
  }

  .circle {
    width: 90%;
    height: 90%;
    /* margin: 10px; */
    line-height: 100px;
    border-radius: 100%;
    border-color: black;
    font-size: 17px;
    font-weight: 600;
    color: white;
    text-align: center;
    background-color: #3e4a74;
    border-width: 10px;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>

<div class="content-wrapper" style="margin-top: -7vh; width: 100%; overflow: hidden;
border-radius: 0; background-color: rgb(62, 74, 116);">

    <!-- <div class="content-wrapper" style=" margin-top: -30px; width: 100vw; height: 100vh; border-radius: 0; background-color: rgb(62, 74, 116);"> -->
    <!-- <div class="container-xl flex-grow-1 container-p-y" style="margin-top: 40px;"> -->
          <div class="row" style="color: black; width: 100%; text-align: left; margin-top: 40px;
            background-color: #3e4a74; float: left; height: 40vh; margin-left: 0vw;" >
              <div class="column" style="width: 50%; margin-top: 20px;">
              <h2 style="font-family: Arial, Helvetica, sans-serif; color: white;
                margin-top: 20px; margin-left: 20%;"><strong>SNEHA - SAM Care</strong></h2>
              <h5 style="color: white; margin-left: 20%; line-height: 150%;">
                Ensuring Integrated Care for <br>Severe Acute Malnourished Children.
              </h5>
              </div>  
              <div class="column" style="width: 55%; height: 20%; margin-top: 20px; margin-left: -10%;">
                <img src="../../assets/c2.jpg" style="width: 100%; float: right;">
              </div>        
          </div>

            <div class="row" style="color: black; width: 100%; background-color: white; height: 50vh; 
            margin-left: 0vw; align: center; text-align: center; justify-content: center;" >
              <h2 style="text-align: center; margin-top: 20px; color: #3e4a74; margin-bottom: -30px;">
                <strong>Sign in As</strong>
              </h2>
              <div class="row" style="width: 100%;
              justify-content: center; margin-bottom: 20px;" >
                <div class="column" style="width: 16%;"> 
                  <div class="circle">
                    <a href="login-nrc" style="color: white; width: 10px;">
                      <div style="-ms-transform: translateY(40%);
                      transform: translateY(40%);">NRC Doctor</div>
                    </a></div>         
                </div>                     
                <div class="column" style="width: 16%"> 
                  <div class="circle"><a href="login-doctor" style="color: white">
                    <div style="-ms-transform: translateY(40%);
                    transform: translateY(40%);">PHC Doctor</div></a></div>         
                </div>
                <div class="column" style="width: 16%">                                                                                          
                    <div class="circle"><a href="login-anm" style="color: white"><div style="-ms-transform: translateY(40%);
                      transform: translateY(40%);">ANM</div></a></div>  
                </div>
                <div class="column" style="width: 16%">
                  <div class="circle"><a href="login-asha" style="color: white"><div style="-ms-transform: translateY(40%);
                    transform: translateY(40%);">ASHA Worker</div></a></div>  
                </div>
                <div class="column" style="width: 16%"> 
                  <div class="circle"><a href="login-admin" style="color: white"><div style="-ms-transform: translateY(40%);
                    transform: translateY(40%);">Admin</div></a></div>         
                </div>
              </div>
            </div>

          <div class="row" style="color: black; width: 100%; text-align: left; margin-top: 20px;
          background-color: #3e4a74; float: left; height: 60vh; margin-left: 0vw;" >
            <div class="column" style="width: 40%; margin-top: 20px;">
              <img src="../../assets/logo.jpg" style="width: 60%; margin-left: 40px;">
            </div>
            <div class="column" style="width: 60%;">
              <h2 style="font-family: Arial, Helvetica, sans-serif; color: white;
              margin-top: 20px;"><strong>Our Mission and Vision</strong></h2>
              <h5 style="color: white; width:fit-content; line-height: 150%;">
                Severe acute malnutrition (SAM) is the extreme form of malnutrition responsible for the largest number of preventable death among children under 5 years of age.
                <br>
                <br>Our mission is to work towards Severe Acute Malnutrition free India, through ICT enabled Integrated care.
                <br>Our vision is to build seamless community and facility care platforms enabling SAM to be out of the vicious cycle.
              </h5>
            </div>
          </div>

          <div class="row" style="color: black; width: 100%; background-color: white; height: 80vh; 
          margin-left: 0vw; align: center; text-align: center;" >
            <h2 style="text-align: center; margin-top: 20px; color: #3e4a74; margin-bottom: -60px; margin-block-end: -20px; margin-block-start: 50px;">
              <strong>Our Benefits</strong>
            </h2>
            <div class="row" style="justify-content: center;">
              <div class="column" style="width: 25%;"> 
                <div class="square">
                  <div style="-ms-transform: translateY(40%);
                      transform: translateY(40%);">
                      <br>ICT enabled convergence <br>of community health workers <br>and tertiary facilities
                  </div>         
                </div>
              </div>
              <div class="column" style="width: 25%;"> 
                <div class="square">
                  <div style="-ms-transform: translateY(30%);
                      transform: translateY(30%);">
                      <br>Provide a seamless platform for <br>early detection, treatment, rehabilitation <br>and follow-ups of SAM</div>                      
                    </div>
              </div>
              <div class="column" style="width: 25%;"> 
                <div class="square">
                  <div style="-ms-transform: translateY(80%);
                      transform: translateY(80%);">
                      Facilitates ICT-based <br> monitoring and surveillance <br>of SAM follow-up
                  </div></div>         
              </div>
            </div>
            <div class="row" style="justify-content: center; margin-bottom: 20px;">
              <div class="column" style="width: 25%;"> 
                <div class="square">
                  <div style="-ms-transform: translateY(60%);
                      transform: translateY(60%);">
                      Easy tracking and <br>managing of <br>SAM care</div>
                    </div>         
              </div>
              <div class="column" style="width: 25%;"> 
                <div class="square">
                  <div style="-ms-transform: translateY(60%);
                      transform: translateY(60%);">
                      Allows easy exchange <br>of data, <br>consolidated overview</div>   
                </div>      
              </div>
              <div class="column" style="width: 25%;"> 
                <div class="square">
                  <div style="-ms-transform: translateY(60%);
                      transform: translateY(60%);">
                      Quality data for <br>future strategic planning <br>on SAM care</div> 
                </div>        
              </div>
            </div>
          </div>
            
          <div class="row" style="color: black; width: 100%; text-align: left; margin-top: 20px;
          background-color: #3e4a74; height: 20vh; margin-left: 20%;" >
            <div class="column" style="width: 30%; text-align: left;">
              <h5 style="font-family: Arial, Helvetica, sans-serif; color: white;
              margin-top: 20px;"><strong>Contact Us</strong></h5>
              <h6 style="color: white; width:fit-content; line-height: 150%;">
                Email ID: <br>
                Contact No:               
              </h6>           
            </div>
            <div class="column" style="width: 30%;">
              <h5 style="font-family: Arial, Helvetica, sans-serif; color: white;
              margin-top: 20px;"><strong>Developed By</strong></h5>
              <h6 style="color: white; width:fit-content; line-height: 150%;">
                IIITB, in collaboration with<br>
                Bangalore Medical College   
              </h6>            
            </div>

            <div class="column" style="width: 10%;">             
                <img src="../../assets/iiitb.png" style="width: 100%;">                       
            </div>
          </div>
      </div>

          <!-- </div> -->

        <!-- </div> -->
      
                      