<style>
  .column {
  float: left;
  width: 40%;
  padding: 50px;
}

.text-danger {
  color:#ef0000;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.file-input {
  display: none;
}

</style>

<div class="content-wrapper" style="margin-left: 0vw; overflow: auto; margin-top: 0px; width: 100vw; height: 107vh; border-radius: 0; background-color: rgb(62, 74, 116);">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y" style="margin-top: 40px;">
      <h3 style="font-family: Arial, Helvetica, sans-serif; color: white; font-size: 24px; margin-bottom: 10px; margin-top: 10px;">Record Follow Up: 
        </h3>
      <br>
    <div class="card" style="box-shadow: 0 0 2px grey; border-radius: 0; color: black; margin-top: 10px; width: 95%;">    
      
            
<!-- <div class="container-xxl flex-grow-1 container-p-y" style="margin-left: 190px;  width: 85vw">
              <h3 style="font-family: 'Mulish'; margin-bottom: 0px;"><strong>Record Follow Up</strong></h3>
  
<div class="card" 
style="font-size: 20px; font-family: 'Times New Roman', Times, serif; box-shadow: 0 0 0px grey;
width: 100%"> -->

      <div class="row" style="color: black; font-family: Helvetica;">
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" #userForm="ngForm" style="color: black">
            <div class="column">
              <div class="form-group">
                  <label>Height (in cm)*</label>
                  <input type="text" class="form-control" formControlName="height">
                  <span style="color: #ef0000;"
                      *ngIf="(registerFormControl['height'].touched || submitted) && registerFormControl['height'].errors && registerFormControl['height'].errors['required']">
                      Height is required
                  </span>
                  <span style="color: #ef0000;"
                  *ngIf="registerFormControl['height'].value < 0 || registerFormControl['height'].value > 100">
                  Height should be between 0 and 100
              </span>
              </div>

              <div class="form-group">
                <label>Weight (in kg)*</label>
                <input type="text" class="form-control" formControlName="weight" (change)="calculate()">
                <span style="color: #ef0000;"
                    *ngIf="(registerFormControl['weight'].touched || submitted) && registerFormControl['weight'].errors && registerFormControl['weight'].errors['required']">
                    Weight is required
                </span>
                <span style="color: #ef0000;"
                  *ngIf="registerFormControl['weight'].value < 0 || registerFormControl['weight'].value > 100">
                  Weight should be between 0 and 100
              </span>
              </div>

              <div class="form-group">
                <label>SD Range</label>
                <input type="text" class="form-control" value="{{sd}}" readonly>
              </div>

              <div class="form-group">
                <label>MUAC (in mm)*</label>
                <input type="text" class="form-control" formControlName="muac">
                <span style="color: #ef0000;"
                    *ngIf="(registerFormControl['muac'].touched || submitted) && registerFormControl['muac'].errors && registerFormControl['muac'].errors['required']">
                    MUAC is required
                </span>
                <span style="color: #ef0000;"
                  *ngIf="registerFormControl['muac'].value < 0 || registerFormControl['muac'].value > 100">
                  MUAC should be between 0 and 100
              </span>
              </div>

              <div class="form-group">
                <label>Head Circumference (in cm)*</label>
                <input type="text" class="form-control" formControlName="headCircumference">
                <span style="color: #ef0000;"
                    *ngIf="(registerFormControl['headCircumference'].touched || submitted) && registerFormControl['headCircumference'].errors && registerFormControl['headCircumference'].errors['required']">
                    Head Circumference is required
                </span>
                <span style="color: #ef0000;"
                  *ngIf="registerFormControl['headCircumference'].value < 0 || registerFormControl['headCircumference'].value > 100">
                  Head Circumference should be between 0 and 100
              </span>
              </div>
            </div>

            <div class="column">
              <div class="form-group">
                <label style="margin-right: 20px;">Diet Chart*</label>
                <input style="margin-top: 30px; margin-left: 20px;" type="file" class="file-upload" style="font-family:'Times New Roman', Times, serif; color: #222; font-size: 14px"
                onchange="console.log(event.target.files)" formControlName="">  
                <!-- <span style="color: #ef0000;"
                    *ngIf="(registerFormControl['height'].touched || submitted) && registerFormControl['height'].errors && registerFormControl['height'].errors['required']">
                    Diet chart is required
                </span> -->
              </div>

              <div class="form-group">
                <label>Diet Adequacy*</label>
                <!-- <input type="text" class="form-control" formControlName="dietAdequacy"> -->
                <select formControlName="dietAdequacy" id="dietAdequacy" class="form-select">
                  <!-- <option></option> -->
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>  
                <span style="color: #ef0000;"
                    *ngIf="(registerFormControl['dietAdequacy'].touched || submitted) && registerFormControl['dietAdequacy'].errors && registerFormControl['dietAdequacy'].errors['required']">
                    Diet Adequacy is required
                </span>
              </div>

              <div class="form-group">
                <label>Co-morbidities*</label>
                <select formControlName="coMorbidities" id="coMorbidities" class="form-select">
                    <option *ngFor="let c of comorbidities" value={{c.comorbidCondition}}>{{ c.comorbidCondition }}  </option>

                    <!--                  <option value="Pneumonia">Pneumonia</option>-->
<!--                  <option value="CHD">CHD</option>-->
<!--                  <option value="Tuberculosis">Tuberculosis</option>-->
<!--                  <option value="None">None</option>-->
              </select>  
                <span style="color: #ef0000;"
                    *ngIf="(registerFormControl['coMorbidities'].touched || submitted) && registerFormControl['coMorbidities'].errors && registerFormControl['coMorbidities'].errors['required']">
                    Co-morbidities is required
                </span>
              </div>
            
              <div class="form-group">
                <label>Other Symptoms*</label>
                <input type="text" class="form-control" formControlName="otherSymptoms">             
              </div>

              <div class="form-group">
                <label>Place of Follow Up*</label>
                  <select formControlName="place" id="place" class="form-select">
                      <option value="PHC/SC">PHC/SC</option>
                      <option value="Anganwadi">Anganwadi</option>
<!--                <input type="text" class="form-control" formControlName="place">-->
                  </select>
                  <span style="color: #ef0000;"
                    *ngIf="(registerFormControl['place'].touched || submitted) && registerFormControl['place'].errors && registerFormControl['place'].errors['required']">
                    Place of Follow Up is required
                </span>
              </div>

                  <!-- <div class="mb-4">
                    <label class="form-label" for="basic-default-fullname" style="color: black; font-size: 12.5px;" >Height (in cm)</label>
                    <input type="text" [(ngModel)] = "followup.height" class="form-control" id="height" name="height" required/>
                  </div>
                  <div class="mb-4">
                    <label class="form-label" for="basic-default-company" style="color: black; font-size: 12.5px;">Weight (in kgs)</label>
                    <input type="text" [(ngModel)] = "followup.weight" class="form-control" id="weight" name="weight"/>
                  </div>

                  <div class="mb-4">
                    <label class="form-label" for="basic-default-muac" style="color: black; font-size: 12.5px;">MUAC (in mm)</label>
                    <input type="text" [(ngModel)] = "followup.muac" class="form-control" id="muac" name="muac"/>
                  </div>        

                  <div class="mb-4">
                    <label class="form-label" for="basic-default-muac" style="color: black; font-size: 12.5px;">Head Circumference (in cm)</label>
                    <input type="text" [(ngModel)] = "followup.headCircumference" class="form-control" id="headCircumference" name="headCircumference"/>
                  </div>

                  <div class="mb-4">
                    <label class="form-label" for="basic-default-muac" style="color: black; font-size: 12.5px;">Place of Follow Up</label>
                    <input type="text" [(ngModel)] = "followup.place" class="form-control" id="place" name="place"/>
                  </div>
                </div>

                <div class="column">
                  <div class="mb-4">
                    <label class="form-label" for="basic-default-muac" style="color: black; font-size: 12.5px;">Diet Chart</label>
                    <br>
                    <input style="margin-top: 30px;" type="file" class="file-upload" style="font-family:'Times New Roman', Times, serif; color: #222; font-size: 14px"
                    onchange="console.log(event.target.files)">                   
                  </div>

                
                  <div class="mb-4">
                    <label class="form-label" for="basic-default-muac" style="color: black; font-size: 12.5px;">Diet Adequacy</label>
                    <select [(ngModel)] = "followup.dietAdequacy" name="dietAdequacy" id="dietAdequacy" class="form-select">
                      <option></option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                  </select>                     
                  </div>  

                  <div class="mb-4">

                  <label class="form-label" for="basic-default-fullname" style="color: black; font-size: 12.5px;">Co-morbidities</label>
                  <select [(ngModel)] = "followup.coMorbidities" name="coMorbidities" id="coMorbidities" class="form-select">
                    <option></option>
                    <option value="Pneumonia">Pneumonia</option>
                    <option value="CHD">CHD</option>
                    <option value="Tuberculosis">Tuberculosis</option>
                </select>                       
                </div>

                  <div class="mb-4">
                    <label class="form-label" for="basic-default-muac" style="color: black; font-size: 12.5px;">Other Symptoms</label>
                    <input type="text" [(ngModel)] = "followup.otherSymptoms" class="form-control" id="otherSymptoms" name="otherSymptoms"/>
                  </div> -->

                  
                <button type="submit" class="btn rounded-pill btn-primary" 
                style="color: white; float: left; background-color:#008ebe; width: 35%; 
                border-color: white"> Save </button>
              
                <button type="button" class="btn rounded-pill btn-primary" 
                style="color: #ef0000; float: right; background-color:white; width: 63%; border-color: #ef0000"
                (click) = "openCancelModal(this.scheduleId)"> Cancel Followup </button>
                </div>
            </form>
        </div>


        <div class="content-backdrop fade"></div>
    </div>
</div>

<!-- Content wrapper -->
