<style>
    .column {
     float: left;
     width: 50%;
     padding: 20px;
   }
   
   /* Clear floats after the columns */
   .row:after {
     content: "";
     display: table;
     clear: both;
   }
   </style>
  
  <div style="box-shadow: 0px 8px 10px gray, 
  -10px 8px 15px gray, 10px 8px 15px gray;">
  <div class="modal-header" style="width: 100% ">
    <h3 style="font-family: Arial, Helvetica, sans-serif; color: #566a7f"><strong>ASHA has been Assigned Successfully</strong></h3>
    <i class='fa fa-times' style='font-size:24px; color:rgb(70, 68, 68);' aria-label="Close"
      (click)="modalRef.close()"></i>
      
    </div>
    <div class="modal-body" style="font-family:Arial, Helvetica, sans-serif">
        <table class="table">
            <thead>
              
            </thead>
            <tbody class="table-border-bottom-0">
              <!-- <div class="column"> -->
              <tr>
                  <td>ASHA Name</td>
                  <td>{{this.asha?.name}}</td>
              </tr>
  
              <tr>
                  <td>Location</td>
                  <td>{{this.asha?.area}}</td>
                </tr>
            
                <tr>
                    <td>Pincode</td>
                    <td>{{this.asha?.pincode}}</td>
                  </tr>
              <!-- </div> -->
              
            </tbody>
          </table>
    </div>
  </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Close
      </button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->