<style>
    .column {
     float: left;
     width: 100%;
     padding: 20px;
   }
   
   /* Clear floats after the columns */
   .row:after {
     content: "";
     display: table;
     clear: both;
   }
   </style>
  
  <div style="box-shadow: 0px 8px 10px gray, 
  -10px 8px 15px gray, 10px 8px 15px gray;">
  <div class="modal-header" style="width: 100% ">
    <h3 style="font-family: Arial, Helvetica, sans-serif; color: #566a7f; margin-bottom: -20px;">
        <strong> Are you sure you want to deactivate this entry?
        </strong></h3>
    <!-- <i class='fa fa-times' style='font-size:24px; color:rgb(70, 68, 68);' aria-label="Close"
      (click)="modalRef.close()"></i>       -->
    </div>
    <div class="modal-body" style="font-family:Arial, Helvetica, sans-serif">
      <div class="row">
        <form>
          <!-- <div class="column">
               <div class="mb-3">
                   <label class="form-label" for="basic-default-age">Are you sure you want to delete this entry?</label>
                   <input type="text" class="form-control" id="basic-default-company" />
               </div>
          </div> -->

          <button type="submit" class="btn rounded-pill btn-primary" (click)="delete()"
            style="background-color: #008ebe; margin-left: 5px; width: 43%">Yes</button>

        <button class="btn rounded-pill btn-primary"
        style="background-color: white; border-color: #008EBE; margin-right: 0px; margin-left: 10px; width: 43%;
        color: #008EBE" (click)="reject()">No</button>

          <!-- <button type="button" class="btn rounded-pill btn-primary" 
          style="color: #008eBe; background-color: white; border: 1px solid #008ebe; 
          margin-right: 0px; width: 40%; margin: 20px;" (click)= "reject()">Cancel</button>
          <button type="submit" class="btn rounded-pill btn-primary" 
          style="background-color: #008eBe; margin-right: 0px; width: 40%" (click)= "reject()">Delete</button> -->
      </form>
      </div>
    </div>
  </div>
 