 <div class="content-wrapper" style="margin-left: 300px;">
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="card" style="box-shadow: 0 0 5px grey; width: 150%">
        <h3 class="card-header" style="background-color: #c4ddf8; margin-bottom: 20px; font-family: Serif;">Follow Up Details of Patient</h3>

        

        <div class="table-responsive text-nowrap" style="font-family: Serif; width: 100%">
          <table class="table">
            <thead>
              <tr>
                <th>Community Followups</th>
                <th>NRC Followups</th>
                <th>General Visits</th>             
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr class="table-default">
                <td><strong><button class="btn btn-primary" style="background-color: #ceffb6 !important; color: black; border-color: white;" (click)="openModal()">01-08-2022</button></strong></td>
                <td><strong><button class="btn btn-primary" style="background-color: #bfbff9 !important; color: black; border-color: white;" (click)="openSmallModal()">01-08-2022</button></strong></td>
                <td><strong><button class="btn btn-primary" style="background-color: #fceac4; color: black; border-color: white;" (click)="openModal()">01-08-2022</button></strong></td>
              </tr>
              
              <tr class="table-default">
                <td><strong><button class="btn btn-primary" style="background-color: #ceffb6; color: black; border-color: white;" (click)="openModal()">15-08-2022</button></strong></td>
                <td><strong><button class="btn btn-primary" style="background-color: #bfbff9; color: black; border-color: white;" (click)="openSmallModal()">07-08-2022</button></strong></td>
              </tr>

              <tr class="table-default">
                <td><strong>
                  <a href="add-followup">
                    <button class="btn btn-primary" style="background-color: #eaf8e3; color: black; border-color: white;">30-08-2022</button>
                  </a>
                  </strong></td>
                  <td><strong><button class="btn btn-primary" style="background-color: #e5e5f7; color: black; border-color: white;" (click)="openSmallModal()">12-08-2022</button></strong></td>
              </tr>
              
              <tr class="table-default">
                <td><strong>
                  <a href="add-followup">
                    <button class="btn btn-primary" style="background-color: #eaf8e3; color: black; border-color: white;">15-09-2022</button>
                  </a>
                  </strong></td>
              </tr>

              
              <tr class="table-default">
                <td></td>
                <td></td>
              </tr>
              
              
              
            </tbody>
            
          </table>
          <a href="add-followup"><button type="submit" class="btn btn-primary" style="margin-bottom: 2%; margin-right: 40px; float: right; background-color: #66adf9;">Record New Visit</button></a>

        </div>
      </div>
      <!--/ Contextual Classes -->
    
     
      <!--/ Responsive Table -->
    </div>
    <!-- / Content -->

    

    <div class="content-backdrop fade"></div>
  </div> 