<style>
    .column {
    float: left;
    width: 50%;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>


    <div class="content-wrapper" style="margin-left: 200px;">
    <div class="container-xl flex-grow-1 container-p-y">                
        <!-- <div class="col-lg-6 col-md-4 order-1"> -->
            <!-- <div class="card">
                <h3 class="card-header" style="background-color: #c4ddf8; margin-bottom: 20px; font-family: Serif;">Welcome</h3> -->

            <div class="row" style="color: black; width: 100vh" >
                <form style="color: black">
                    <div class="column">
                        <div class="mb-4">
                            <div class="card" style="box-shadow: 0 0 5px yellowgreen;">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-start justify-content-between">
                                    <div class="avatar flex-shrink-0">
                                        <i class='fa fa-users' style='font-size:48px;color:greenyellow'></i>
                                    </div>
                                    
                                    </div>
                                    <span>Children Discharged</span>
                                    <h3 class="card-title mb-2">126</h3>
                                    <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +72.80%</small>
                                </div>
                                </div>
                        </div>
                        <div class="mb-4">
                            <div class="card" style="box-shadow: 0 0 5px red;">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-start justify-content-between">
                                    <div class="avatar flex-shrink-0">
                                        <i class='fa fa-plus' style='font-size:48px;color:red'></i>

                                    </div>
                                    
                                    </div>
                                    <span>SAM Children</span>
                                    <h3 class="card-title text-nowrap mb-1">23</h3>
                                    <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.42%</small>
                                </div>
                                </div>
                        </div>
                    
                          
                      
      
                       
                      </div>
                      
      
                      <div class="column">
                        <div class="mb-4">
                            <div class="card" style="box-shadow: 0 0 5px orange;">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-start justify-content-between">
                                    <div class="avatar flex-shrink-0">
                                        <i class='fa fa-check' style='font-size:48px;color: orange'></i>
                                    </div>
                                    
                                    </div>
                                    <span>Follow Ups Completed</span>
                                    <h3 class="card-title text-nowrap mb-1">2136</h3>
                                    <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.42%</small>
                                </div>
                                </div>
                        </div>
      
                        <div class="mb-4">
                            <div class="card" style="box-shadow: 0 0 5px #007bff;">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-start justify-content-between">
                                    <div class="avatar flex-shrink-0">
                                        <i class='fa fa-clock-o' style='font-size:48px;color: #007bff'></i>
                                    </div>
                                    
                                    </div>
                                    <span>Follow Ups Pending</span>
                                    <h3 class="card-title text-nowrap mb-1">1029</h3>
                                    <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.42%</small>
                                </div>
                                </div>
                        <!-- </div>
      
                        
                      </div> -->
                    <!-- </div> -->
        