<style>
  .column {
   float: left;
   width: 50%;
   padding: 50px;
 }
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }

  .modal-body {
    bottom:0;
  }

 </style>

<div style="box-shadow: 0px 8px 10px gray, 
-10px 8px 15px gray, 10px 8px 15px gray;">
<div class="modal-header" style="width: 100%; padding-left: 5%; padding-bottom: 0%;">
  <h3 style="font-family: 'Mulish'; color: #566a7f"><strong>Follow Up Details</strong></h3>
  <i class='fa fa-times' style='font-size:24px; color:rgb(70, 68, 68);' aria-label="Close"
    (click)="modalRef.close()"></i>

  </div>
  <div class="modal-body" style="padding: 1px; margin-top: -20px;">
    <!-- <div class="row"> -->
    <div class="table-responsive text-nowrap" style="font-family: 'Times New Roman', Times, serif; width: 100%;">
        <table class="table">
          
          <tbody class="table-border-bottom-0">
            <div class="column">
            <tr>
                <td>Height</td>
                <td>120 cm</td>
            </tr>

            <tr>
                <td>Weight</td>
                <td>25 kg</td>
              </tr>

              <tr>
                <td>MUAC</td>
                <td><span class="badge bg-label-danger" style="color: #ef0000 !important; background-color: #ffe0db !important; font-size: 90%;">102 mm</span></td>
              </tr>

              <tr>
                <td>Head Circumference</td>
                <td>20 cm</td>
              </tr>

              <tr>
                <td>SD Range</td>
                <td>-2</td>
              </tr>

              <tr>
                <td>Diet Chart</td>
                <td>-</td>
              </tr>

              <tr>
                <td>Result</td>
                <td><span class="badge bg-label-warning" style="color: #ffab00; background-color: #fff2d6; font-size: 90%">MAM</span></td>
              </tr>
            </div>

            <div class="column">
              

              <tr>
                <td>Diet Adequacy</td>
                <td><span class="badge bg-label-success" style="color: #00a141 !important; background-color: #e0ffed; font-size: 90%;">YES</span></td>
              </tr>

              <tr>
                <td>Co-morbidities</td>
                <td>None</td>
              </tr>

              <tr>
                <td>Other Symptoms</td>
                <td>Diarrhoea</td>
              </tr>
              
              <tr>
                <td>Reason for Followup</td>
                <td>Scheduled</td>
              </tr>

              <tr>
                <td>Scheduled Date</td>
                <td>07-10-2022</td>
              </tr>

              <tr>
                <td>Actual Date</td>
                <td>09-10-2022</td>
              </tr>

              <tr>
              <button type="button" class="btn rounded-pill btn-primary" 
            style="background-color: #008ebe; float: right; margin-top: 10%; margin-left: 100px;
            width: 60%"
            (click)="modalRef.close()">Close</button>
              </tr>

              <!-- <button type="submit" class="btn rounded-pill btn-primary" 
            style="background-color: #008ebe; float: right; margin-right: 5px; margin-left: 5px; width: 20%"
            (click)="openModal()">Save</button> -->
              
            </div>
            
          </tbody>
        </table>
      <!-- </div> -->
    </div>
  </div>
</div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div> -->