<style>
  .column {
   float: left;
   width: 50%;
   padding: 50px;
 }
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }

  .modal-body {
    bottom:0;
  }

 </style>

<div>
<div class="modal-header" style="width: 100%; padding-left: 5%;">
  <h2 style="font-family: Arial, Helvetica, sans-serif; color: #566a7f; margin-bottom: -20px"><strong>Follow Up Details</strong></h2>
  <i class='fa fa-times' style='font-size:24px; color:rgb(70, 68, 68);' aria-label="Close"
    (click)="modalRef.close()"></i>

  </div>
  <div class="modal-body" style="padding: 1px; margin-top: -30px;">
    <!-- <div class="row"> -->
<div class="table-responsive text-nowrap" style="font-family: Arial, Helvetica, sans-serif; width: 100%;">
        <table class="table">        
          <tbody class="table-border-bottom-0">
            <div class="column">
            <tr>
              <td>Scheduled Date</td>
              <td>{{followupDate | date : "dd-MM-y"}}</td>
            </tr>
  
            <tr>
              <td>Actual Date</td>
              <td>{{followup?.followupDate | date : "dd-MM-y"}}</td>
            </tr>

            <tr>
              <td>Place of Follow Up</td>
              <td>Doddathoguru</td>
            </tr>
          
          <tr>
            <td>Height</td>
            <td>{{followup?.height}} cm</td>
          </tr>

          <tr>
            <td>Weight</td>
            <td>{{followup?.weight}} kg</td>
          </tr>

          <tr>
            <td>SD Range</td>
            <td>{{followup?.sdRange}}</td>
          </tr>

          <tr>
            <td>MUAC</td>
            <td><span class="badge bg-label-danger" style="color: #ef0000 !important; background-color: #ffe0db !important; font-size: 90%;">{{followup?.muac}} mm</span></td>
          </tr>
        </div>

        <div class="column">
          <tr>
            <td>Head Circumference</td>
            <td>{{followup?.headCircumference}} cm</td>
          </tr>

          <tr>
            <td>Diet Chart</td>
            <td>{{followup?.dietChart}}</td>
          </tr>

          <tr>
            <td>Diet Adequacy</td>
            <td><span class="badge bg-label-success" style="color: #00a141 !important; background-color: #e0ffed; font-size: 90%;">{{followup?.dietAdequacy}}</span></td>
          </tr>

          <tr>
            <td>Co-morbidities</td>
            <td>{{followup?.coMorbidities}}</td>
          </tr>

          <tr>
            <td>Other Symptoms</td>
            <td>{{followup?.otherSymptoms}}</td>
          </tr>

          <tr>
            <td>Reason for Followup</td>
            <td>{{followup?.reasonFollowup}}</td>
          </tr>

          <tr>
            <td>Result</td>
            <td><span class="badge bg-label-warning" style="color: #ffab00; background-color: #fff2d6; font-size: 90%">MAM</span></td>
          </tr>

          <tr>
            <button type="button" class="btn rounded-pill btn-primary"
                    style="background-color: #008ebe; float: right; margin-top: 10%; margin-left: 100px;
            width: 60%"
                    (click)="modalRef.close()">Close</button>
          </tr>

          <!-- <button type="submit" class="btn rounded-pill btn-primary"
        style="background-color: #008ebe; float: right; margin-right: 5px; margin-left: 5px; width: 20%"
        (click)="openModal()">Save</button> -->

        </div>

        </tbody>
      </table>
      <!-- </div> -->
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Close
  </button>
  <button type="button" class="btn btn-primary">Save changes</button>
</div> -->