<!-- <div style="height:30px;" class="container-sm navbar navbar-expand-sm navbar-detached align-items-center bg-navbar-theme"
    id="layout-navbar" id="layout-navbar">           -->
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse" style="margin-left: 2%; margin-bottom: 3%; font-size: 13px; font-family: 'Times New Roman', Times, serif;">
        <div class="navbar-nav align-items-center">
        <div class="nav-item d-flex align-items-center" style="box-shadow: 0px 15px 10px -15px #111">
            <i class="bx bx-search fs-4 lh-0"></i>
            <input
            type="text"
            class="form-control border-0 shadow-none"
            placeholder="RCH ID"
            aria-label="Search..."
            />
        </div>
        </div>

        <div class="navbar-nav align-items-center">
        <div class="nav-item d-flex align-items-center" style="box-shadow: 0px 15px 10px -15px #111">
            <i class="bx bx-search fs-4 lh-0"></i>
            <input
            type="text"
            class="form-control border-0 shadow-none"
            placeholder="SAM ID"
            aria-label="Search..."
            />
        </div>
        </div>

        <div class="navbar-nav align-items-center">
        <div class="nav-item d-flex align-items-center" style="box-shadow: 0px 15px 10px -15px #111">
            <i class="bx bx-search fs-4 lh-0"></i>
            <input
            type="text"
            class="form-control border-0 shadow-none"
            placeholder="NAME"
            aria-label="Search..."
            />
        </div>
        </div>
    </div>
<!-- </div> -->