<style>
    .column {
     float: left;
     width: 100%;
     padding: 20px;
   }
   
   /* Clear floats after the columns */
   .row:after {
     content: "";
     display: table;
     clear: both;
   }
   </style>
  
  <div style="box-shadow: 0px 8px 10px gray, 
  -10px 8px 15px gray, 10px 8px 15px gray;">
  <div class="modal-header" style="width: 100% ">
    <h2 style="font-family: Arial, Helvetica, sans-serif; color: #566a7f; margin-bottom: -20px;"><strong>{{this.title}}</strong></h2>
    <i class='fa fa-times' style='font-size:24px; color:rgb(70, 68, 68);' aria-label="Close"
      (click)="modalRef.close()"></i>      
    </div>
    <div class="modal-body" style="font-family:Arial, Helvetica, sans-serif">
      <div class="row" style="color: black; font-family: Helvetica;">
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" #userForm="ngForm" style="color: black">
            <div class="column">
              <div class="form-group">
                  <label>{{this.entity}} Name*</label>
                  <input type="text" class="form-control" formControlName="name">
                  <span style="color: #ef0000;"
                      *ngIf="(registerFormControl['name'].touched || submitted) && registerFormControl['name'].errors && registerFormControl['name'].errors['required']">
                      {{this.entity}} name is required
                  </span>
              </div>
    
              <div class="form-group">
                <label>Username*</label>
                <input type="text" class="form-control" formControlName="username">
                <span style="color: #ef0000;"
                    *ngIf="(registerFormControl['username'].touched || submitted) && registerFormControl['username'].errors && registerFormControl['username'].errors['required']">
                    Username is required
                </span>
              </div>
    
              <div class="form-group">
                <label>Password*</label>
                <input type="text" class="form-control" formControlName="password">
                <span style="color: #ef0000;"
                    *ngIf="(registerFormControl['password'].touched || submitted) && registerFormControl['password'].errors && registerFormControl['password'].errors['required']">
                    Password is required
                </span>
              </div>
    
              <div class="form-group">
                <label>{{this.parent}} they belong to</label>
                <select formControlName="parentName" id="parentName" class="form-select" value={{this.parentName}} style="height: calc(1.5em + 0.75rem + 2px); width: 100%; border: 1px solid #ced4da">
                  <option value="Agara">34 - Agara PHC - 560102</option>
                  <option value="Anjanapura"> 35 - Anjanapura PHC - 560108</option>
                  <option value="Arakere"> 36 - Arakere PHC - 572106</option>
                  <option value="Begur"> 37 - Begur PHC - 560068</option>
                  <option value="38"> 38 - Bommanahalli PHC - 560068</option>
                  <option value="39"> 39 - Gottigere PHC - 560083</option>
                  <option value="40">  40 - Kodichikkanahalli PHC - 560076</option>
                  <option value="41">  41 - Konanakunte PHC - 560062</option>
                  <option value="42"> 42 - RoopenaAgrahara PHC - 560068</option>
                  <option value="43"> 43 - Singasandra PHC - 560100</option>
                  <option value="44"> 44 - Uttarahalli PHC - 560061</option>
                  <option value="45"> 45 - Vasanthpura PHC - 560061</option>
                  <option value="46"> 46 - Yalachenahalli PHC - 560078</option>
              </select>  
                <span style="color: #ef0000;"
                    *ngIf="(registerFormControl['parentName'].touched || submitted) && registerFormControl['parentName'].errors && registerFormControl['parentName'].errors['required']">
                    {{this.parent}} name is required
                </span>
              </div>
    
              <div class="form-group">
                <label>Address*</label>
                <input type="text" class="form-control" formControlName="address">
                <span style="color: #ef0000;"
                    *ngIf="(registerFormControl['address'].touched || submitted) && registerFormControl['address'].errors && registerFormControl['address'].errors['required']">
                    Address is required
                </span>
            </div>
        
              <div class="form-group">
                <label style="margin-right: 20px;">Pincode*</label>
                <input type="text" class="form-control" formControlName="pincode">
                <span style="color: #ef0000;"
                    *ngIf="(registerFormControl['pincode'].touched || submitted) && registerFormControl['pincode'].errors && registerFormControl['pincode'].errors['required']">
                    Pincode is required
                </span>
              </div>
    
              <div class="form-group">
                <label>Contact No*</label>
                <input type="text" class="form-control" formControlName="contactNo"> 
                <span style="color: #ef0000;"
                    *ngIf="(registerFormControl['contactNo'].touched || submitted) && registerFormControl['contactNo'].errors && registerFormControl['contactNo'].errors['required']">
                    Contact Number is required
                </span>
              </div>
            
                <button type="submit" class="btn rounded-pill btn-primary" 
                style="color: white; float: left; background-color:#008ebe; width: 35%; 
                border-color: white"> Save </button> 
                </div>
            </form>
          </div>

      <!-- <div class="row">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm" >
          <div class="column">
               <div class="mb-3">
                   <label class="form-label" for="basic-default-age">{{this.entity}} Name*</label>
                   <input type="text" class="form-control" [(ngModel)] = "name" id="name" name="name" value={{this.name}}/>
               </div>

              <div *ngIf = "this.entity=='ASHA'" class="mb-3">
                  <label class="form-label" for="basic-default-age">Username</label>
                  <input type="text" class="form-control" [(ngModel)] = "username" id="username" name="username" value={{this.username}}/>
              </div>

              <div *ngIf = "this.entity=='ASHA'" class="mb-3">
                  <label class="form-label" for="basic-default-age">Password</label>
                  <input type="text" class="form-control" [(ngModel)] = "password" id="password" name="password" value={{this.password}}/>
              </div>

                <div *ngIf = "this.entity=='ASHA'" class="mb-3">
                    <label class="form-label" for="basic-default-age">{{this.parent}} they belong to</label>
                    <br>

                    <select [(ngModel)] = "parentName" name="parentName" id="parentName" class="form-select" value={{this.parentName}} style="height: calc(1.5em + 0.75rem + 2px); width: 100%; border: 1px solid #ced4da">
                        <option value="Agara">34 - Agara PHC - 560102</option>
                        <option value="Anjanapura"> 35 - Anjanapura PHC - 560108</option>
                        <option value="Arakere"> 36 - Arakere PHC - 572106</option>
                        <option value="Begur"> 37 - Begur PHC - 560068</option>
                        <option value="38"> 38 - Bommanahalli PHC - 560068</option>
                        <option value="39"> 39 - Gottigere PHC - 560083</option>
                        <option value="40">  40 - Kodichikkanahalli PHC - 560076</option>
                        <option value="41">  41 - Konanakunte PHC - 560062</option>
                        <option value="42"> 42 - RoopenaAgrahara PHC - 560068</option>
                        <option value="43"> 43 - Singasandra PHC - 560100</option>
                        <option value="44"> 44 - Uttarahalli PHC - 560061</option>
                        <option value="45"> 45 - Vasanthpura PHC - 560061</option>
                        <option value="46"> 46 - Yalachenahalli PHC - 560078</option>
                    </select>  
                </div>

               <div class="mb-3">
                <label class="form-label" for="basic-default-age">Address</label>
                <input type="text" class="form-control" [(ngModel)] = "address" id="address" name="address" value={{this.address}}/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="basic-default-age">Pincode</label>
                <input type="text" class="form-control" [(ngModel)] = "pincode" id="pincode" name="pincode" value={{this.pincode}}/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="basic-default-age">Contact No</label>
                <input type="text" class="form-control" [(ngModel)] = "contact" id="contact" name="contact" value={{this.contact}} />
            </div>
          </div>

          <button type="submit" class="btn rounded-pill btn-primary" 
          style="background-color: #008eBe; float: right; margin-right: 0px; width: 25%">Save</button>
      </form>
      </div> -->
    </div>
  </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Close
      </button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->